[2012-07-11 15:00] hmansell opened #2 "Matching arrays does not work"
The first assertion does what you would expect, but the second (array version) is considered a match failure.  Using dmohl-FsUnit-dee815d.

[code]

[2012-09-06 19:06] PatrickMcDonald opened #3 "Cannot get FsUnit.Xunit working in VS 2012"
1. Create a new F# Library project
2. From Package Manager Console, `Install-Package FsUnit.xUnit`
3. Run Test(s) (using TestDriven.NET)

[2012-09-07 18:42] #3 closed, assigned to nobody

[2012-11-11 16:17] misterspeedy opened #4 "Formatting of autogenerated sample"
When FSUnit is added to a project via nuget, the sample .fs file is formatted in such a way that the compiler assumes verbose syntax.  (For example if you add lines you need to add 'in' to the end of every line.)  The sample should be created so that light syntax is assumed.  This is just a matter of changing the tabbing/newlines slightly.

[2012-11-11 19:08] #2 closed, assigned to nobody

[2012-11-13 08:53] theburningmonk opened #5 "Separate nuget package for the sample"
Hi,

Is it possible to move the sample into a separate Nuget package? Or, alternatively, provide a Nuget package without the sample file?

I use FsUnit in many projects, and whilst the sample is useful for someone starting out with FsUnit it has become problematic for us as every time I add FsUnit to a new project or update existing projects I have to go through and delete the sample.

Thanks,

[2012-11-18 18:17] #5 closed, assigned to nobody

[2012-11-29 18:28] jackfoxy opened #6 "FsUnit.NUnit.dll wrong version in NuGet?"
Just installed latest from NuGet, and even though the package path is 1.1.0.2 (packages\FsUnit.1.1.0.2\Lib\Net40) the dll itself (FsUnit.NUnit) is version 1.1.0.0 and it is dependent on NUnit Version=2.6.0.12051 and does not work with the latest NUnit 2.6.2

[2012-12-08 15:12] #6 closed, assigned to nobody

[2012-12-08 15:15] #4 closed, assigned to nobody

[2012-12-19 11:09] Vidarls opened #7 "Upgrade to latest Xunit (1.9.1)"
The FSunit nuget fetches the latest Xunit on install. FSunit breaks in fascinating ways (unable to load assembly) when the Xunit version is not correct.
I tried to do the upgrade myself and deliver this request as a pull req, but apparently Nuget and F# are not very good friends, and I had to throw in the towel...

[2012-12-20 14:06] #7 closed, assigned to nobody

[2013-01-07 23:05] dungpa opened #8 "FsUnit.NUnit doesn't work on MonoDevelop 3.0"
Hi,

We have an F# code base in Visual Studio 2012 and would like to support MonoDevelop 3.0 as well. On Mono, the core is running fine but our test cases written in FsUnit/NUnit failed before running (therefore we couldn't verify its correctness). We used NuGet to manage packages both in Visual Studio and MonoDevelop.

Configuration: Mono 3.0.2/F# 3.0, MonoDevelop 3.0 on Mac OS X Lion

Here is a

[2013-01-21 10:24] #8 closed, assigned to nobody

[2013-03-13 21:40] devhawk opened #10 "should equal None works differently between NUnit and XUnit versions of FsUnit"
My parser tests all look like the following (I've defined the zero function locally so you can easily add it to your tests. This works fine in FsUnit.NUnit, but when I tried to move over to FsUnit.XUnit, I get a NullReferenceException. I would expect tests to work the same between the different flavors of FsUnit

[code]

[2013-04-16 22:18] dgfitch opened #11 "contain on strings does not work as expected"
I expected

    "This string is long" |> should contain "string"

to do something like a test framework's `Assert.Contains<string,string>`, and the error message I get was (at first) quite confusing:

    Test Name:	Test contain raw
    Test Outcome:	Failed
    Test Duration:	0:00:00.081

    Result Message:
    Exception of type 'FsUnit.Xunit+MatchException' was thrown.
    Position: First differ

[2013-06-07 22:56] banshee opened #13 "Change https://code.google.com/p/fsunit/ to point to github instead of codeplex"
The page at https://code.google.com/p/fsunit/ says the project has been moved to CodePlex, then the codeplex page points here.  Would be nice to change https://code.google.com/p/fsunit/ to point straight here.

[2013-08-01 11:28] halcwb opened #14 "should throw typeof<Exception> does not pass"
This code does not pass:

    [<TestFixture>]
    type ``Given a invalid connection string`` () =
        let connstr = @"lkjljlj"

        [<Test>] member x.
            ``An argument exception will be thrown.`` () =
                connstr |> parseConnStrToRavenConn |> should throw typeof<System.ArgumentException>

Code throws a System.ArgumentException and, thus, should pass.

[2013-09-03 11:15] remkoboschker opened #15 ""should haveCount" does not work on an IEnumerable because it has a function Count and not a property Count"
Are there any reasons not to add an overload that calls the function?

[2013-09-25 14:07] tpetricek opened #16 "Add "isUnionCase" function"
Based on [this SO question](http://stackoverflow.com/questions/19001567/how-to-check-the-case-of-a-discriminated-union-with-fsunit), I think that adding function `isUnionCase` would be pretty useful for testing.

(Or similar functionality exposed in some nicer FsUnit-friendly way, like `should (beCase <@ Foo @>)`)

[2013-09-30 23:02] tpetricek opened #19 "Add "spy" function"
It would be nice to add something like Phil Trelford's `spy` function from this article:
- http://trelford.com/blog/post/Stubs.aspx

[2013-10-02 17:27] tpetricek opened #20 "Simplify "should throw""
Currently, you have to use `ignore` to discard the result in the function and you need to get type using `typeof`:

    (fun () -> failwith "BOOM!" |> ignore) |> should throw typeof<System.Exception>

I think it would be neat if you could write just:

    (fun () -> failwith "BOOM!") |> should throw<System.Exception>

[2013-10-03 21:29] tpetricek opened #21 "Statically typed equality test"
In an earlier version, there used to be `shouldEqual` primitive that beahaved like `y |> should equal x` but statically required `x` and `y` to have the same type.

I find that extremely useful - I was using some untyped equal constraints and it quite regularly caused trouble where test would compile, but fail - when I changed some API.

Can we have this function (or some alternative) back?

[2013-10-15 21:36] haf opened #23 "FsUnit cannot be run"
Steps to reproduce:

`install-package fsunit`

[code]

Have ReSharper 7.1 installed. Rightclick test project, select 'Run Unit Tests':

[code]

Further testing done: downgrading NUnit to v2.6.2 from installing version 2.6.3.

[2014-01-03 14:17] bentayloruk opened #25 "FsUnit.xUnit 1.2.1.2 and FsCheck.Xunit 0.4.0.2 don't play together :-("
Thank you for the wonderful FsUnit.

I was hoping to use FsUnit and FsCheck together in joyous union of ultimate-test-nirvana-fun, but alas, they :two_hearts: different versions of xUnit.  FsUnit desiring _exactly_ xunit (= 1.9.1) and FsCheck a little more open to xunit (≥ 1.9.2 && < 3.0).

How can I help make these fine libraries play together?

[2014-01-04 12:58] #25 closed, assigned to nobody

[2014-06-16 08:30] atruskie opened #33 "Update FsUnit.xUnit Nuget package please"
This relates to these issues:
https://github.com/fsharp/FsUnit/pull/22

and
https://github.com/fsharp/FsUnit/issues/10

I am still getting the null ref exception when attempting to do a `|> should equal (None)`.

I believe the Nuget package `FsUnit.xUnit` is dependending on an old version of `FsUnit.CustomMatchers.dll`.

I verified by inspecting the assembly downloaded via nuget. The pre #22 code

[2014-06-23 11:26] unuunc opened #34 "FsUnit not working with XUnit pre release version"
it is not able to find Xunit asserts , asking for adding xunit library which is already added.

[2014-06-26 11:37] remkoboschker opened #35 "(should contain) as argument to list.iter"
using xunit

``list2 |> Seq.iter (list1 |> (should contain) )`` does not work

however ``list2 |> Seq.iter (fun x - > list1 |> should contain x) `` does

``(list |> should contain)`` returns a function of type ``object -> unit`` so I do not understand why I get a match exception.

[2014-06-29 20:39] #33 closed, assigned to nobody

[2014-06-29 20:40] #10 closed, assigned to nobody

[2014-06-29 20:41] #13 closed, assigned to nobody

[2014-09-09 08:08] ovidiudeac opened #43 "the assembly is not signed"
We are using it in a signed assembly and it cannot be loaded otherwise

[2014-09-28 11:00] cdrnet opened #44 "NuGet package lib/net40 contains .Net 2.0 binary"
Currently there are separate assemblies in the FsUnit 1.3.0.1 NuGet package:

* lib/net20: built against .Net 2.0, references FSharp.Core 2.3.0.0
* lib/net40: built against .Net 2.0, references FSharp.Core 2.3.0.0

Would it be possible to keep the net20 as is but change the net40 one to build against .Net 4.0 and reference FSharp.Core 4.3.0.0?

I have a binding redirect issue in one of my projects

[2014-10-29 22:46] theburningmonk opened #47 "is there a better way to match against patterns?"
Right now, I'm using a `match ... with` clause with the pattern I want (e.g. I don't care about all the items in a tuple) manually.

[code]

which is very clumsy. Is there a better way to do this currently?

In Eunit, I'd use [?assertMatch](http://www.erlang.org/doc/apps/eunit/chapter.html#Assert_macros) which uses macros (which we don't have in F#), is there some way to achieve the same effect in

[2014-11-01 11:26] #23 closed, assigned to nobody

[2015-01-17 22:06] larjo commented on #34
Yes, FsUnit only works with xunit 1.9.1. Specifically it doesn't work with xunit 1.9.2 which is the latest stable release. That is unfortunate since I am also using FsCheck which requires xunit >= 1.9.2.

My workaround is to use https://github.com/fsprojects/Paket to reference the files CustomMatchers.fs and FsUnit.fs directly from github.

[2015-01-17 22:19] sergey-tihon commented on #34
I think that would be better to release FsUnit with dependency on exact version of NUnit\XUnit which where tested and works as expected:
Replace
[code]
to
[code]

[2015-01-18 00:24] larjo commented on #34
Yes, and

    <dependency id="xunit" version="[1.9.1, 3.0)" />

to

    <dependency id="xunit" version="[1.9.1]" />

How much work would you think there is to make FsUnit compatible with xunit >= 1.9.2 (and  NUnit >= 2.6.4)?

[2015-01-19 11:42] ane opened #48 "The NuGet package is outdated and does not match the documentation."
I'm using version 1.3.0.1, the latest version available from NuGet, It's missing the choice matcher in #39, but it is described in the documentation as a feature.

[2015-02-02 21:19] evilz commented on #23
This issue is back using FSharp 3.1  (FSharp.Core 4.3.1.0) on .net 4.5.3
[code]

[2015-02-02 21:43] mausch commented on #23
@evilz add this NuGet package to your project: https://www.nuget.org/packages/FSharp.Core

[2015-02-07 18:07] bentayloruk commented on #43
@ovidiudeac I have the same problem and workaround it [using this](https://www.nuget.org/packages/Nivot.StrongNaming/).

[2015-02-07 18:14] bentayloruk commented on #43
BTW - I don't rely on strong names for security.  However, I need to strong name the test assembly in order to allow it access to some internals of a strong named assembly, using `InternalsVisibleTo`.

[2015-02-10 13:57] ksmigiel commented on #23
I had the same issue, but below config helped me:
[code]

[2015-02-17 02:09] ctaggart commented on #34
The error I get when trying to upgrade Xunit to prerelease is:
[code]
Info on upgrading to v2 is here:
http://xunit.github.io/docs/test-migration.html

[2015-03-05 12:45] 7sharp9 commented on #23
So is everyone using an appconfig to patch this?

[2015-03-06 09:31] rneatherway commented on #23
It worked for me in the end, but I think it should work out of the box.

[2015-03-06 09:38] 7sharp9 commented on #23
I have to use assembly redirects to get it to work.

If I recompiled fsunit with a .Net 4.5 compilation (rather than .Net 3.5) then there was no issues.  Im not sure why there isn't net45 versions that just work, shouldn't have to have an app.config whenever I want to use it :-(

[2015-03-19 17:56] et1975 commented on #34
Now that xUnit 2.0 is RTM this is a bit of an urgent issue IMHO.

[2015-03-20 14:09] sergey-tihon commented on #34
@et1975 We need to contact @dmohl somehow.
He is only owner of NuGet package

[2015-03-20 14:14] et1975 commented on #34
Is that the only issue though? When I fixed it in my fork I noticed that the target framework is 3.5, which xUnit 2.0 does not support anymore. I had to change that for my local build, but I don't know what are the goals of FsUnit in this regard.

[2015-03-28 11:48] nathanaeljones commented on #34
Has anyone pushed up a temporary fork to nuget to work around this issue?

[2015-04-18 06:41] paulyoung opened #51 "Install failed in new F# Portable Library project"
I created a new F# Portable Library project and tried to add FsUnit via NuGet. I got this message:

[2015-04-18 22:48] paulyoung commented on #51
I _was_ able to create an F# Library project to use for running my tests (with a reference to my PCL project) and add FsUnit via NuGet there.

While NUnit works, FsUnit unfortunately doesn't. I get this warning:

In my test files, `open FsUnit` does not work.

[2015-04-18 22:55] paulyoung commented on #51
FWIW, this is the warning in Xamarin Studio on OS X

[2015-04-20 02:47] paulyoung commented on #51
It turns out that the hint path was confused by using VirtualBox:
[code]

Changing it to this fixed it:
[code]

But now I'm running into #23.

[2015-04-20 06:52] paulyoung commented on #23
I'm getting `System.MissingMethodException : Method not found: 'FsUnit.TopLevelOperators.equal` despite my `app.config` already being set to the following:

[code]

[2015-04-20 20:35] #51 closed

[2015-06-04 10:19] theburningmonk opened #52 "`should be null` and `should not' (be null)` are failling"
Just tried these on 1.3.0.1 and both are throwing null ref exception
`"123" |> should be null`
`"123" |> should not' (be null)`
`null |> should be null`

using Nunit's `Assert.That(null, Is.Null)` works

[2015-06-06 21:26] brodyberg commented on #34
This is still happening out of the box :-/

[2015-06-10 04:12] games opened #53 "How can I test an empty list inside tuple?"
the example as below. If I don't remove the type annotation, how can I make it success?

[code]

[2015-06-10 06:09] games commented on #53
this one is other case

[code]

[2015-06-10 08:06] sergey-tihon commented on #53
According to your first sample
`a` has a type `int * 'a list`, and `id` return `int * string list` - lists are not equal by type.

If you make `id` more generic - it should work
[code]

[2015-06-10 08:10] sergey-tihon commented on #53
The same true for the second sample:
As an other option you can specify type for `a` directly:
[code]
or
[code]

[2015-06-10 10:02] games commented on #53
noted it, thank you : )

[2015-06-17 06:32] pver commented on #52
I had a similar issue with this until I noticed I forgot I had to use Null instead of null:

[code]

would be nice to have it working with 'null' as well though

[2015-07-06 15:31] et1975 commented on #19
Foq may be the better way to approach this?

[2015-07-06 15:37] et1975 opened #54 "Failed equality assertion should use F# value formatter"
ToString() on values that failed equality assertion is often quite useless, can we have "%A" formatter applied instead?

[2015-07-06 17:20] et1975 opened #55 "Windows build fails on latest official .NET/F# combo"
1) Building c:\sources\FsUnit\src\FsUnit.Xunit\FsUnit.Xunit.fsproj failed with exitcode 1.
  2) FS0219: c:\sources\FsUnit\src\FsUnit.Xunit\unknown(1,1): The referenced or default base CLI library 'mscorlib' is binary-incompatible with the referenced F# core library 'C:\WINDOWS\Microsoft.Net\assembly\GAC_MSIL\FSharp.Core\v4.0_4.3.1.0__b03f5f7f11d50a3a\FSharp.Core.dll'. Consider recompiling the libr

[2015-07-06 17:30] et1975 commented on #55
Actually, this is probably me - switching Xunit projects to 4.5.

[2015-07-06 17:30] #55 closed

[2015-07-20 18:26] #53 closed

[2015-07-20 18:30] sergey-tihon commented on #48
What package have you used?
If NUnit one, please try [FsUnit 1.3.1-beta](https://www.nuget.org/packages/FsUnit/1.3.1-beta) it should be up-to-date

[2015-07-20 21:49] sergey-tihon commented on #34
Please try [FsUnit.xUnit 1.3.1-beta](https://www.nuget.org/packages/FsUnit.xUnit/1.3.1-beta).
It should work with `xunit v1.9.2`, at least I hope so.
Let me know if it is not, or if you find any issues.

[2015-07-26 20:31] sergey-tihon commented on #48
Latest version is on Nuget & should match new documentation http://fsprojects.github.io/FsUnit/index.html & http://fsprojects.github.io/FsUnit/reference/index.html

[2015-07-26 20:31] #48 closed

[2015-07-26 20:41] sergey-tihon opened #57 "1 |> should equal "hi" shouldnt't type check"
The following expression should not type check
[code]
//cc @tpetricek [tweet](https://twitter.com/tomaspetricek/status/625404542985859073)

[2015-07-26 20:46] sergey-tihon opened #58 "It should be 1 file for referencing via Paket"
//cc @tpetricek [original request](https://twitter.com/tomaspetricek/status/625404542985859073)

@tpetricek @forki  Why you do not like reference package from `NuGet`?

[2015-07-27 13:33] tpetricek commented on #58
I just like the lightweight file references for simple things. In fact, I even copied `FsUnit.fs` by hand into a few of my projects.

As for technical reasons, it removes one part of the `FSharp.Core.dll` reference pain, because it just gets compiled as part of your project... (I had some hard time with conflicts between FsUnit and FsCheck in the past).

Nothing that could not be resolved, but I t

[2015-07-28 13:15] sergey-tihon commented on #34
Please try `xUnit 2.0` support [FsUnit.xUnit 1.4.0-beta](https://www.nuget.org/packages/FsUnit.xUnit/1.4.0-beta)

[2015-07-29 14:39] sergey-tihon commented on #54
Am I right that this is a fix https://github.com/fsprojects/FsUnit/pull/60 ?

[2015-07-29 17:30] et1975 commented on #54
Yes, sorry, should have linked it.

[2015-07-29 18:26] #34 closed

[2015-07-29 18:37] sergey-tihon commented on #43
But there are no real reason to sign `FsUnit` assemblies and we are not going to do it for now.

[2015-07-29 18:37] #43 closed

[2015-07-29 20:37] sergey-tihon commented on #44
@cdrnet Do you think we should keep supporting .Net 2.0 for NUnit?

MSTest requires .NET 4.0
xUnit 2 requires .NET 4.5

[2015-07-29 20:38] sergey-tihon commented on #57
Closed as duplicate for https://github.com/fsprojects/FsUnit/issues/21

[2015-07-29 20:38] #57 closed

[2015-07-29 21:15] sergey-tihon commented on #54
Released with [FsUnit 1.4.0-beta](https://www.nuget.org/packages/FsUnit/1.4.0-beta)

[2015-07-29 21:15] #54 closed

[2015-07-30 10:30] sergey-tihon commented on #35
## Expression 2
If you remove pipe operator from your second expression
[code]
you will get
[code]

## Expression 1

In the same time, if you add param to the function from first expression
[code]
you will get
[code]
that is equal to
[code]
that is equal to
[code]

## Conclution

Now it should be obvious that they are two different expressions:
[code]

[2015-07-30 10:30] #35 closed

[2015-07-30 11:24] sergey-tihon commented on #11
`contain` operator designed for collections and does not work with strings.
Starting from [FsUnit.xUnit 1.4.0-beta2](https://www.nuget.org/packages/FsUnit.xUnit/1.4.0-beta2) we support new operator `haveSubstring` that works for your case
[code]
See more samples [here](https://github.com/fsprojects/FsUnit/blob/master/tests/FsUnit.Xunit.Test/shouldHaveSubstringTests.fs)

[2015-07-30 11:24] #11 closed

[2015-07-30 14:30] sergey-tihon commented on #14
@halcwb @jbtule @juhan @vincpa
Could you please test your samples with [FsUnit.xUnit 1.4.0-beta2](https://www.nuget.org/packages/FsUnit.xUnit/1.4.0-beta2)
I cannot reproduce this bug.

Unit tests for `throw` work as expected - https://github.com/fsprojects/FsUnit/blob/master/tests/FsUnit.Xunit.Test/raiseTests.fs#L12

I also have tried following tests
[code]
They also work.

[2015-07-30 14:44] sergey-tihon commented on #15
`FsUnit` implementation of `haveCount` sit on top of `NUnit` `Has.Count` constraint.
`NUnit` authors are not going to support `.Count()` scenario ( [read more here](https://github.com/nunit/nunit/issues/158) )

I believe that we should not override `NUnit` behavior in `FsUnit`.

[2015-07-30 14:44] #15 closed

[2015-08-02 10:33] sideeffffect commented on #23
hi, I seem to have the same problem:

[code]

but sadly neither [adding `FSharp.Core`](https://ci.appveyor.com/project/sideeffffect/fsharphello/build/0.0.1.9) nor [adding `app.config`](https://ci.appveyor.com/project/sideeffffect/fsharphello/build/0.0.1.10) helped. is there another way around this?

[2015-08-02 10:51] rneatherway commented on #23
The app.config file has to be part of a particular project. Take a look at http://fsprojects.github.io/FsUnit/#Visual-Studio-11-Support and how I did it here: https://github.com/fsprojects/Projekt/tree/master/tests/Projekt.Tests

[2015-08-02 23:58] sideeffffect commented on #23
hmm, it's [still failing](https://ci.appveyor.com/project/sideeffffect/fsharphello/build/0.0.1.11)
I tried
[code]
in MonoDevelop *Package Console Extension*, but I got

[code]

so I just moved the file `App.config` to the right place.

[2015-08-03 16:06] sergey-tihon commented on #44
I think that we should update `FsUnit.NUnit` to `net45`
in order to play nicer with `FsCheck` that currently require `net45` profile
![image](https://cloud.githubusercontent.com/assets/1197905/9041761/90b05090-3a12-11e5-93e0-d88ee881b7a7.png)

[2015-08-04 09:01] misterspeedy commented on #23
Just a heads up - when I installed the latest beta of FSUnit (1.4.0.0-beta3) this issue recurred even with the redirects in place.  When I downversioned to 1.3.1.0 it went away again.

[2015-08-04 09:16] rneatherway commented on #23
@sideeffffect that command only works in the Visual Studio console, which I had assumed you were using.

@misterspeedy it might be worth trying @sergey-tihon's fix in that PR above, it makes sure all the right redirects are in place in the right places and being used.

[2015-08-04 10:44] sergey-tihon commented on #23
@misterspeedy Could you please share your build log and redirects? or even create a new issue.
`1.4.0.0-beta3` differs greatly from `1.3.1.0`. It compiled for net45 and uses latest FSharp.Core 4.4.0.0
You need to change redirects to make it works.

[2015-08-04 10:48] sergey-tihon opened #72 "Create new docs for FsCheck integration"
We definitely should create two new guild for FsUnit site
- `FsUnit` + `FxCheck` + `NUnit`
- `FsUnit` + `FsCheck` + `XUnit`

// https://github.com/sideeffffect/FSharpHello/pull/1#issuecomment-127538713

[2015-08-04 10:59] misterspeedy commented on #23
Oh, ta - it's probably just the redirects I was using.  I'll re-install the
beta and try updating the redirects.  Ta.

On 4 August 2015 at 11:44, Sergey Tihon <notifications@github.com> wrote:

[2015-08-05 05:35] sergey-tihon commented on #23
@misterspeedy Please share your results. Thx

[2015-08-05 06:09] 7sharp9 commented on #23
Does fsunit need to target the very latest FSharp.Core?

Generally F# ecosystem libraries should generally target the earliest, most portable version of FSharp.Core feasible.

[2015-08-05 06:42] sergey-tihon commented on #72
I think that would be nice to compile `FsUnit` using the same version if `FSharp.Core` that `FsCheck` use. Latest beta of `FsUnit` compiled using `FSharp.Core` 4.4.0.0, but `FsCheck` compiled using `4.3.1.0`

@kurtschelfthout do you have plans to use `FSharp.Core` 4.4.0.0 in `FsCheck`?

[2015-08-05 06:44] sergey-tihon commented on #23
I think that `FsUnit` should target the same version as `FsCheck` use, to simplify integration.
https://github.com/fsprojects/FsUnit/issues/72#issuecomment-127890791

[2015-08-05 07:17] 7sharp9 commented on #23
Why does FSUnit use 4.4?
https://fsharp.github.io/2015/04/18/fsharp-core-notes.html

[2015-08-05 19:55] sergey-tihon commented on #23
Am I right that you think that `FsUnit` should depend on [FSharp.Core/3.1.2.5](https://www.nuget.org/packages/FSharp.Core/3.1.2.5) and be build using this version of `FSharp.Core`?

[2015-08-06 20:57] kurtschelfthout commented on #72
Not immediately, there doesn't seem to be a compelling reason. When things settle down a bit probably I'll find some excuse…

[2015-10-03 11:08] cdrnet commented on #44
Thanks - the 4.5 upgrade is fine for me (I'll have to keep the old version for my .Net 3.5 builds but that's ok - seems I won't have to support that one much longer either).

[2015-10-03 11:08] #44 closed

[2015-10-04 21:18] sergey-tihon commented on #58
This should be possible right now.
Here is [the guide](http://fsprojects.github.io/FsUnit/Paket.html)

[2015-10-04 21:18] #58 closed

[2015-10-12 17:05] awostenberg opened #77 "fsunit assembly is not signed with a strong name"
In using fsunit from a strongly-named assembly I get the folllowing error

`1) Test Error : TryFsunit.lib1.hello
   System.IO.FileLoadException : Could not load file or assembly 'FsUnit.NUnit, Version=1.3.1.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HR
ESULT: 0x80131044)
   at TryFsunit.lib1.hello()`

Nunit works fine

[2015-10-12 17:18] sergey-tihon commented on #77
@awostenberg Why do you sign your test assemblies? Please describe your case.

We think that there is no real need to do it, so we probably not going to sign `FsUnit` right now.
Reed more https://github.com/fsprojects/FsUnit/pull/42 and https://github.com/fsprojects/FsUnit/issues/43

There are couple of workarounds (if you cannot avoid signing test assemblies):

- You can sign FsUnit on your side

[2015-10-12 17:18] #77 closed

[2015-10-12 18:59] awostenberg commented on #77
Yes it is unusual to sign test assemblies. We do it for convenience to the developer building and learning the system. The orthodox way is to have independent test assemblies. We include tests right in the customer facing code assemblies.  This is convenient for the developer who sees the test code right near the feature code, and tests illustrate how to use the feature code.   But customer facing

[2015-11-11 17:24] juhan commented on #14
Having tested with FsUnit.NUnit version 1.4.0.0 from  NuGet in VS2013 update 4, VS2015 and MonoDevelop 4.0.12, plus I've seen it work in MonoDevelop 5.x, I can confirm that catching exceptions in the intended FsUnit way using lambda functions works as expected. Thanks!

But, at least for NUnit users, it may actually be simpler to use the original NUnit way to catch exceptions when otherwise using

[2015-11-18 14:25] CraigStuntz opened #78 "Structural equality fail"
This trivial test won't pass:
[code]
It fails with the interesting error:

However, it works correctly in FSI:
[code]

[2015-11-18 14:30] sergey-tihon commented on #78
What unit testing framework do you use? NUnit?

[2015-11-18 14:35] CraigStuntz commented on #78
Yes, that's NUnit. FsUnit appears to delegate equality to NUnit, which runs it through [this horror show](https://github.com/nunit/nunit/blob/4e10f475d88fec980f080461a64e6fc4b1e54b2b/src/NUnitFramework/framework/Constraints/NUnitEqualityComparer.cs). It would probably be better if FsUnit did something closer to @forki's [version](https://github.com/forki/FsUnit/blob/master/FsUnit.fs#L10).

[2015-11-18 14:55] sergey-tihon commented on #78
Look like similar to this https://github.com/fsprojects/FsUnit/issues/21

[2015-11-18 15:03] CraigStuntz commented on #78
It is certainly close to [this comment on that issue](https://github.com/fsprojects/FsUnit/issues/21#issuecomment-57975543), but implementing #21 won't fix the difference in behavior of ```should equal```. I'm thinking that ```x |> should equal y``` and ```x = y``` should be isomorphic.

[2015-12-01 15:10] alex-bogomaz opened #79 "3 MbUnit tests are failing"
following 3 MbUnit tests are failing:
1) Seq with 1 item should fail to have Count 1
2) Seq with 1 item should fail to have Length 1
3) shouldFaild should throw an exception

here is the complete execution log for failing tests:

[code]

[2015-12-01 15:20] sergey-tihon commented on #79
@alex-bogomaz How do you run them?

Could you please help to automate it properly in https://github.com/fsprojects/FsUnit/blob/master/build.fsx

I have no idea how to execute them, that's why they may be broken and old version on NuGet

[2015-12-01 15:30] alex-bogomaz commented on #79
i'm using Gallion bundle (Gallio.Icarus.exe)  downloaded from
https://code.google.com/p/mb-unit/

but now i realize that MbUnit version on Google code is quite old. They have new version on GitHub, so I'm gonna check against that version

[2015-12-05 10:05] sergey-tihon commented on #79
@alex-bogomaz Do you know how we can automate execution of MbUnit tests ?

[2015-12-05 10:44] alex-bogomaz commented on #79
still trying to figure out how to run them using FAKE.MbUnit....

[2015-12-07 09:01] sergey-tihon commented on #52
Released in `v1.4.1`

[2015-12-07 09:01] #52 closed

[2015-12-28 12:05] damageboy opened #82 "NUnit 3.x support"
Pretty please? Is there anything to do here beyond bumping the version?

[2015-12-29 07:22] sergey-tihon commented on #82
Yes, we need `FAKE` support of `NUnit2` first
https://github.com/fsharp/FAKE/issues/1010

[2016-01-11 21:22] sergey-tihon commented on #82
So, probably it is time to try support of NUnit 3 https://github.com/fsharp/FAKE/pull/1064

[2016-01-14 12:47] sergey-tihon commented on #82
@et1975 do you have experience of writing custom constrains for `NUnit3`?

[2016-01-14 13:22] et1975 commented on #82
I wanted to take a look at v3 anyways, might as well port this.

[2016-01-14 13:43] sergey-tihon commented on #82
Thank you @et1975

[2016-01-15 21:49] et1975 commented on #82
Once nunit/nunit#1196 is resolved the changes in et1975/FsUnit/equals branch should do it.

[2016-01-28 18:00] rprouse commented on #82
The NUnit team is working on custom message formatters based on the issue nunit/nunit#1196 and original PR by @et1975. @CharliePoole has create PR nunit/nunit#1222

This fix is intended for you, so we would appreciate a code review to see if it meets your needs.

Once it is merged, if you need to test using the NuGet packages produced by our continuous build, I can point you to them.

@sergey-tiho

[2016-01-28 18:26] CharliePoole commented on #82
Here's another question about our (NUnit's) support for F#.

Can anybody think of a way to add a feature to the NUnit framework, so that it is **only** accessible to F#. Resolving nunit/nunit#1196 with a static global is cool for F# users, who will access it in a top-level module, rather than from a test. It's a bit more dangerous in C# (not to mention VB) where calling it from within a test is th

[2016-01-28 21:22] sergey-tihon commented on #82
@rprouse
Would be nice to test in once it is merged. Appreciate if you point me to you nightly packages.
There are only two custom constrains in current codebase:
- [EqualsConstraint](https://github.com/fsprojects/FsUnit/blob/master/src/FsUnit.NUnit/FsUnit.fs#L10) - we use it to pretty-print F# values
- [ChoiceConstraint](https://github.com/fsprojects/FsUnit/blob/master/src/FsUnit.NUnit/FsUnit.Ext

[2016-01-28 21:35] CharliePoole commented on #82
@sergey-tihon It sounds like F# users are likely to be satisfied by this. My concern is that we are exposing the feature to all users and those working in other languages who use this in the most "obvious" way will be unexpectedly impacting global state. That is, such users are likely to call the method in a setup or onetimesetup. They will expect the custom format to go away when the scope of the

[2016-01-28 21:44] rprouse commented on #82
@sergey-tihon the NuGet feed is at https://ci.appveyor.com/nuget/nunit

Currently you need to figure out which build a fix is in by looking at the AppVeyor builds and getting the build number. Less than ideal. We plan to fix it, but haven't yet. Remind me once the PR is merged and I will get you a package version that will work for you.

I assume that the custom formatter will solve your need for

[2016-01-28 21:46] rprouse commented on #82
@sergey-tihon if you wanted to test with the NuGet package of the current PR, the latest version is `3.1.0-CI-2072`

[2016-01-28 21:54] CharliePoole commented on #82
@sergey-tihon Note however that the current PR is marked Do Not Merge because it is still in development. The calling sequence could change.

[2016-02-03 09:40] Evangelink commented on #20
@sergey-tihon Do you care about retro compatibility? (i.e. should I keep the old method and create a new one?). I am about to do this quick PR.

[2016-02-03 10:42] sergey-tihon commented on #20
@Evangelink Yes we care about backward compatibility.
I think that we can support this feature in new [FsUnit.Typed](https://github.com/fsprojects/FsUnit/pull/85/files#diff-558d23dbe88440f107e27e0c9e745db9R36) that is probably will be merged into FsUnit repo.

[2016-02-03 10:45] Evangelink commented on #20
Ok cheers! I will have a look.

[2016-02-03 14:18] Evangelink commented on #20
@sergey-tihon There is a shouldFail method line 36 (don't know how to link a portion of code) in your commit that already satisfy @tpetricek  request.
`(fun () -> failwith "BOOM!") |> shouldFail<exn>`

Don't think it is worth doing a shouldThrow that will do the same thing (rename current method?). I can add a shouldFailWithMessage method that will also check the error message if wanted.

[2016-02-08 15:20] sergey-tihon commented on #78
We should track [discussion on NUnit repo](https://github.com/nunit/nunit/issues/1249)
[FsUnit.Typed](https://github.com/fsprojects/FsUnit/pull/85) should not has this issue.

[2016-02-08 15:31] sergey-tihon opened #86 "Pretty-print F# value types using NUnit 3.2 custom formatters"
[code]
depends on https://github.com/nunit/nunit/milestones/3.2
implemented in https://github.com/nunit/nunit/issues/1196

[2016-02-08 15:32] sergey-tihon commented on #82
Support of NUnit 3 released in [FsUnit 2.0.0](https://www.nuget.org/packages/FsUnit/2.0.0)
Let's tack support of NUnit v3.2 in separate issue - https://github.com/fsprojects/FsUnit/issues/86

[2016-02-08 15:32] #82 closed

[2016-02-08 15:43] rprouse commented on #78
The NUnit team would appreciate comments and ideas on nunit/nunit#1249. Change will happen if we can come up with a way forward without breaking existing unit tests. As @sergey-tihon says, I don't think this is an FsUnit issue, but that of the underlying framework, NUnit :smile:

[2016-02-16 07:29] jackfoxy opened #87 "Method not found 'Void FsUnit.TopLevelOperators.should'"
Builds, but fails at run time.

    let result =
        ["est"; "1test"; "est1"]
        |> Set.ofList

    x'.Value |> should equal result

nunit.framework.dll 3.0.5813.39031
FsUnit.NUnit.dll 2.0.0.0

``Assert.AreEqual(x'.Value, result)`` works

[2016-02-17 19:54] sergey-tihon commented on #87
Any ideas how can I reproduce it? It works on my machine...
What version of `Fsharp.Core.dll` do you use? Maybe we need to configure assembly redirects?

[2016-02-22 01:18] jackfoxy commented on #87
I'll look at it some more this week.

[2016-02-27 19:55] jackfoxy commented on #87
Our old friend binding redirect. My project is running FSharp.Core 4.4.

Should I add a note about this in the docs? I have a minor issue for a PR anyway.

[2016-02-27 19:55] #87 closed

[2016-02-27 21:23] sergey-tihon commented on #87
Yes, please. it would be awesome.

[2016-02-29 05:44] sergey-tihon commented on #79
@alex-bogomaz Any news?

@mausch Do you know how to run MbUnit tests from FAKE?

[2016-02-29 05:48] #14 closed

[2016-02-29 05:51] sergey-tihon commented on #47
Can you propose better syntax ?

[code]

[2016-03-06 17:20] cdrnet commented on #44
Turns out this is now blocking me from updating my projects to NUnit3 :(

[2016-03-06 17:38] sergey-tihon commented on #44
do you need `FsUnit` for `.net 2.0`?

if you use `Paket` you can [reference just one file](http://fsprojects.github.io/FsUnit/Paket.html) and be runtime independent.

[2016-03-06 17:47] cdrnet commented on #44
Ah thanks, yes, that should work for me!

[2016-03-06 21:09] sergey-tihon commented on #86
Released in [2.1.0](https://www.nuget.org/packages/FsUnit/2.1.0)
and require initialization code in test assembly if `FsUnit` referenced as assembly from `NuGet`

[code]

[2016-03-06 21:09] #86 closed

[2016-03-07 13:32] sergey-tihon commented on #20
Released in [v2.2.0-beta1](https://www.nuget.org/packages/FsUnit/2.2.0-beta1)

[2016-03-07 13:32] #20 closed

[2016-03-07 13:32] sergey-tihon commented on #21
Released in [v2.2.0-beta1](https://www.nuget.org/packages/FsUnit/2.2.0-beta1)

[2016-03-07 13:32] #21 closed

[2016-03-07 13:32] sergey-tihon commented on #78
Released in [v2.2.0-beta1](https://www.nuget.org/packages/FsUnit/2.2.0-beta1)

[2016-03-07 13:32] #78 closed

[2016-03-07 13:37] sergey-tihon commented on #44
@cdrnet  You may be also interested in new statically typed operators
http://fsprojects.github.io/FsUnit/FsUnitTyped.html

[2016-03-15 20:26] mausch commented on #79
Ugh, I'm getting an entirely different error:

[code]

[2016-03-15 23:16] mausch commented on #79
Might be because FAKE.MbUnit depends on Gallio 3.3 while FsUnit uses Gallio/MbUnit 3.4.14

[2016-05-24 10:13] marklam opened #91 "Nunit 3.2 is releasing minor updates that FsUnit doesn't install with"
### Description

FsUnit is locked to exactly v3.2.0 of NUnit, but there has been a 3.2.1 release that seems to work fine with an app.config redirect - but you have to force NuGet to ignore dependencies to install it.

I think it would be preferable if FsUnit accepted v3.2.* so FsUnit doesn't have to keep step with the releases in NUnit.

[2016-05-26 09:09] marklam commented on #91
v2.2 brings this back in step, thanks.

[2016-05-26 09:09] #91 closed

[2016-07-20 13:16] jmmk opened #95 "FsUnitTyped.shouldEqual flips `expected` and `actual`"
With FsUnit, as seen in the [documentation](https://fsprojects.github.io/FsUnit/NUnit.html), a unit test is written:
[code]

We can verify by looking at the [source code of Nunit's `EqualityConstraint`](https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Constraints/EqualConstraint.cs#L42) that indeed `equal` should be given the `expected` value.

---

The [documentation for Fs

[2016-07-21 13:13] sergey-tihon commented on #95
At least with `FsUnitTyped` everything is OK. We do not use equality from `NUnit`

[code]

so the call ``actual |> shoutEqual expected`` will print correct output

[2016-07-21 14:57] jmmk commented on #95
@sergey-tihon I used NUnit only as an example to show the order of the arguments: `actual` on the left, `expected` on the right.

But the way `shouldEqual` is defined is with `expected` on the left, `actual` on the right.

[2016-07-22 07:20] sergey-tihon commented on #95
Sorry, but seems that I do not understand the issue.
It how `|>` (pipe) operator works. (Example contains two equal execution of function `f`)
[code]
So if you decide to use `shouldEqual` without pipe operator it will be
[code]
with pipe operator
[code]

[2016-07-22 12:47] jmmk commented on #95
I just made another test case and it seems to be working correctly. I must have been mistaken, sorry!

[2016-07-22 12:47] #95 closed

[2016-08-17 18:22] jwittner commented on #77
In order to expose internal types for testing to assemblies via the InternalsVisibleTo attribute from a signed assembly, those assemblies must also be signed. Right now I can't do that =(.

[2016-08-18 19:06] sergey-tihon commented on #77
As workaround you can include `FsUnit.fs` or `FsUnitTyped.fs` file to your test project and do not reference FsUnit package.
- http://fsprojects.github.io/FsUnit/Paket.html
- http://fsprojects.github.io/FsUnit/FsUnitTyped.html#What-is-FsUnitTyped

[2016-08-19 00:46] jwittner commented on #77
@sergey-tihon Thanks for the idea! Love open source. =)

[2016-08-29 06:33] mrakgr opened #96 "\n in an exception"
Program:
[code]
Output:
[code]
What bothers me is that `\n` that is printed as a part of the actual string. This is my first time using both FsUnit and NUnit, but that can't be right.

[2016-08-29 09:53] sergey-tihon commented on #96
I guess it is a new side effect of NUnit 3

What we do in the code now:
[code]
We need `Assert.IsTrue` to use F# structural equality here.

@mrakgr Would you like to find a way to pass message string correctly to NUnit 3?

//cc: @rprouse @et1975

[2016-08-29 10:08] mrakgr commented on #96
Hmmm...I took a look at [Don's blog](https://blogs.msdn.microsoft.com/dsyme/2009/11/08/equality-and-comparison-constraints-in-f/) and it seems structural equality constraints are set directly on the classes. I was also under the impression that structural equality is the default in F# for the relevant types. Does the Assert class need to be modified to use structural equality then? That an NUnit c

[2016-08-29 10:49] mrakgr commented on #96
As a preliminary I tested whether this prints out correctly:

    [<Test>]
    let ``Assert String``() =
        let x = "Asd\nQwe"
        AssertionException(x) |> raise

It does in fact. This means that the string is getting unescaped somewhere inside the assert function. I'll figure out when I get to it.

[2016-08-29 16:20] mrakgr commented on #96
I tried building NUnit manually, and I can see that the string prints just fine there both in F# (when I reference the manually built dll from Interactive) and C# (when I convert the .NET 4.5 version to a console app.) So that probably means that either the NUnit package that comes with FsUnit is stale, or if the case is that FsUnit fetches the main one directly from Nuget, then the main one on Nu

[2016-08-29 16:26] mrakgr commented on #96
Nevermind, I've verified that it is the main one on Nuget that is causing the issue.

[2016-08-29 17:13] sergey-tihon commented on #96
So, here it is https://github.com/nunit/nunit/issues/1575
Will be fixes in `NUnit 3.5`

[2016-08-29 17:15] mrakgr commented on #96
Yes, it will be fixed. I think I'll close this issue as it have been investigated. If you want to add structural equality constraints, please feel free to open a separate issue for that.

[2016-08-29 17:15] #96 closed

[2016-09-21 09:23] asibahi commented on #23
I am running into this issue as well. Tried adding `app.config` to no avail [See here](http://stackoverflow.com/questions/39608983/fsunit-unable-to-test-portable-library-due-to-it-and-test-project-having-differ/39609814?noredirect=1#comment66530523_39609814)

[2016-11-03 19:40] gabornemeth opened #98 "Cross platform support"
### Description

Is there any chance to support other platforms than net45?
It would be nice to be able to add FsUnit to PCL, Xamarin, etc. projects?
I'd gladly give you a hand, too.

### Repro steps

Create a PCL/Xamarin.iOS/Xamarin.Android/.. project and try add FsUnit as a nuget package.

[2016-11-03 20:05] sergey-tihon commented on #98
I will keep it open and I guess that we may try to target `netstandard` very soon.
But if you use it with `NUnit` you need only one platform independent file, that is very easy to reference with `Paket` - http://fsprojects.github.io/FsUnit/Paket.html
or you could try new `FsUnitTyped` as well using `Paket` - http://fsprojects.github.io/FsUnit/FsUnitTyped.html

[2016-11-20 05:46] sergey-tihon opened #99 "Support MSTest 2"
https://www.nuget.org/packages/MSTest.TestFramework/

[2017-01-18 17:33] marklam opened #101 "FsUnit 2.3.2 tied to NUnit 3.5, so won't work with FsCheck.NUnit 2.7.0 which needs at least NUnit 3.6"
### Description
The latest NuGet package for FsUnit (2.3.2) uses an out-of-date NUnit (3.5), so you can't use FsCheck.NUnit together with it, since it requires NUnit 3.6-or-greater.

[2017-01-20 13:49] sergey-tihon commented on #101
could you please try and test latest alpha?
https://www.nuget.org/packages/FsUnit/2.4.0-alpha-1

[2017-01-20 14:08] marklam commented on #101
It seems to require a pre-release of FSharp.Core (>= 4.0.1.7-alpha)

[2017-01-20 14:38] sergey-tihon commented on #101
something wrong with it?
`FSharp.Core` is the only version of the package that contains '.net stardard' compatible version of `FSharp.Core` (together with the usual one)

[2017-01-20 20:49] marklam commented on #101
I tried to install the FsUnit alpha with paket, but it didn't like the FSharp.Core alpha dependency because the other packages in the project had dependencies on "FSharp.Core ... (no prerelease)"

[2017-02-20 09:59] sergey-tihon opened #102 "Support xUnit 2.2"
https://xunit.github.io/release-notes/2017-02-19.html

[2017-02-20 18:24] sergey-tihon commented on #101
Please try latest [3.0.0-beta1](https://www.nuget.org/packages/FsUnit/3.0.0-beta1) it should works now

[2017-02-20 18:26] sergey-tihon commented on #98
@gabornemeth Could you please try latest beta [3.0.0-beta1](https://www.nuget.org/packages/FsUnit/3.0.0-beta1), version compiled to `netstandard` should work on all platforms

[2017-02-21 14:22] marklam commented on #101
That works fine, thanks!

[2017-02-21 14:22] #101 closed

[2017-02-22 00:32] gabornemeth commented on #98
I have tried on Android. Nuget package is successfully added. Tests are compiled as well.
Great job! Thank you.

[2017-02-22 07:13] sergey-tihon commented on #98
Thank you! Cool!

[2017-02-22 07:13] #98 closed

[2017-05-12 20:38] NinoFloris opened #105 "Why doesn't haveLength work with Seq?"
Why doesn't haveLength work with Seq?

Error is  System.ArgumentException : Property Length was not found

### Related information
macOS, FsUnit.Xunit 1.4.1

[2017-05-12 20:52] sergey-tihon commented on #105
Because implementation rely on reflection
https://github.com/fsprojects/FsUnit/blob/master/src/FsUnit.Xunit/CustomMatchers.fs#L115-L122
FsUnit assume that when you use `haveLength` you pass an object that has property `Length`

Anyway, the test works correctly. Unfortunately, you see an error during execution time, instead of compile time. But it fails because you assert that property `Length` sho

[2017-05-12 20:59] NinoFloris commented on #105
Seq is just an IEnumerable implementation, should really not be an issue to check for it. As it stands there is no builtin method to directly check against the count of any IEnumerable

[2017-06-09 15:14] NinoFloris opened #106 "netstandard support for the other (xunit is a big one) FsUnit libraries"
It seems there is no FsUnit.Xunit netstandard support yet although the main package already got it in march. Would be nice to see this for the other packages as well

[2017-06-11 19:27] sergey-tihon commented on #105
I agree with you that in the perfect case would be nice to have one operator that checks the length of collection and works with any collection. But now we have [two different operators](http://fsprojects.github.io/FsUnit/operators.html) `haveLength` and `haveCount` (implemented across all supported frameworks). I guess that roots of this comes from `NUnit` (also have two).

One of the main ideas

[2017-06-11 19:27] #105 closed

[2017-06-14 16:10] NinoFloris commented on #105
Yes expecto is great but for this project we try to keep everything in xunit for now, haveCount does not seem to work for ienumerables as it's not a property of them. That's why I opened this issue, there is no neat way to assert enumerable count

[2017-10-05 11:56] niwrA commented on #47
can't you basically write a function that would accept a function and a match pattern, and that fails if the function fails to match the pattern?

so in pseudocode:
assert that f() matches (_,_,_,42)

[2017-10-06 10:44] baltie opened #108 "Should have multiple target frameworks"
If I create a new F# library project based on .NET Framework 4.7 and add the FsUnit 3.0.0 nuget package, I get a lot of additional nuget packages, supporting .net standard library 1.6.

My expectation would be that the FsUnit package targeted more than just .net standard 1.6, for instance .NET Framework 4.6 in addition. That way, I would only get FsUnit and not 40+ other packages as well.

[2017-10-20 09:41] jchidley opened #109 "You must add a reference to assembly 'nunit.framework'."
### Description

I get this error:
The type referenced through 'NUnit.Framework.Constraints.Constraint' is defined in an assembly that is not referenced. You must add a reference to assembly 'nunit.framework'.

### Repro steps
Installed as per the instructions.

Visual Studio 2017
FsUnit 3.0.0
nunit 3.6.0

[code]

this fails with the above error but

[code]

works fine.

[2017-10-20 09:45] jchidley commented on #109
"Fixed" by downgrading to nunit 3.5.0

[2017-10-24 23:27] aggieben opened #111 "The module/namespace 'NHamcrest' from compilation unit 'NHamcrest' did not contain the namespace, module or type 'CustomMatcher`1'"
### Description

I have created a new test (classlib) project using the dotnet sdk (2.0), and I'm using paket for package management.  I followed the xunit tutorial to get things wired up, and I am able to write a trivial xunit test to prove that the pieces work.  However, when I try to do that same with FsUnit.xUnit, the compiler fails thusly:

[code]

After configuring some binding redirects, th

[2017-10-25 05:01] sergey-tihon commented on #99
Released in 3.0+

[2017-10-25 05:01] #99 closed

[2017-10-25 05:13] sergey-tihon commented on #102
FsUnit for xUnit 2.3 released in `3.1.0-beta1`

[2017-10-25 05:13] #102 closed

[2017-10-25 05:14] sergey-tihon commented on #111
Could you please try [3.1.0-beta1](https://www.nuget.org/packages/FsUnit.xUnit/3.1.0-beta1)?

[2017-10-25 05:16] sergey-tihon commented on #108
Could you please try once again with [3.1.0-beta1](https://www.nuget.org/packages/FsUnit/3.1.0-beta1)?

[2017-10-25 05:17] sergey-tihon commented on #109
Could you please try once again with [3.1.0-beta1](https://www.nuget.org/packages/FsUnit/3.1.0-beta1)?

[2017-10-25 05:19] sergey-tihon commented on #106
We did initial support in `3.0.0` and more accurate dependencies in `3.1.0-beta1`.
Please try the latest pre-release package and open another issue if you have any kind of issue with it.

[2017-10-25 05:19] #106 closed

[2017-10-26 20:30] aggieben commented on #111
Yep, I gave that a try and it didn't seem to help.  I looked in my `projects.assets.json` which is created during the restore process, and I found this interesting:

[code]

This is just the first however many lines, but it shows the only dependency for `FsUnit.xUnit` being `NETStandard.Library` 1.6.0

[2017-10-27 08:02] sergey-tihon commented on #111
Hmm... 🤔 no idea, NuGet UI show correct dependencies, so I expect that they should be installed ...

Maybe @enricosada could say what is wrong and what should be fixed?

<img width="404" alt="2017-10-27_1101" src="https://user-images.githubusercontent.com/1197905/32093801-5e58e8d8-bb06-11e7-84f3-ff42930ea1cc.png">

[2017-10-27 12:23] alex-bogomaz commented on #111
FsUnit.Xunit 3.1.0-beta1 has following dependency section of NuSpec file:
[code]
according to this SO answer https://stackoverflow.com/questions/34768539/nuget-doesnt-install-dependencies-when-targetframework-attribute-isnt-specif,
since .NET Framework 4.6.1 (with .NET Core 2.0 SDK) implements "netstandard1.6" -
the only dependendency for "FsUnit.Xunit 3.1.0-beta1" would be
[code]

[2017-10-27 12:39] aggieben commented on #111
@alex-bogomaz why wouldn't xunit, NHamcrest (and even FSharp.Core) also be dependencies?

[2017-10-27 12:54] alex-bogomaz commented on #111
My understanding is that "FsUnit.Xunit 3.1.0-beta1" package is not working for
dotnet cli 2.0. This should be fixed.
According to this
https://docs.microsoft.com/en-us/nuget/release-notes/NuGet-2.0:
[code]

In fact I was not able to compile simple XUnit test solution for net461 by simply referencing only
```<PackageReference Include="FsUnit.Xunit" Version="3.1.0-beta1" />```.

but after referencin

[2017-10-27 14:00] enricosada commented on #111
As a learned the bad way, the fallback references (the `All frameworks`) shown in nuget, should be avoided.
because if that exists, if target framework doesnt match EXACTLY (that mean version too), the fallback is going to be used, not the nearest one.

if your case, .net core 2.0 ask for `netstandard2.0`, but your nuspec doesnt have it, so fallback too `All frameowkrs` (the fallback group) and us

[2017-10-27 14:02] sergey-tihon commented on #111
this is crazy, thank you @enricosada  and @alex-bogomaz for an explanation.
I will push version with the fix soon

[2017-10-27 17:03] sergey-tihon commented on #111
[FsUnit.xUnit 3.1.0-beta2](https://www.nuget.org/packages/FsUnit.xUnit/3.1.0-beta2) is released with per framework dependencies.

[2017-10-27 18:13] aggieben commented on #111
@enricosada this is interesting, but I'm not sure I understand why the fallback group wouldn't have worked in my case, where I'm actually targeting `net461`.  Shouldn't the "All Frameworks" versions of these packages resolve for that target?

[2017-11-18 01:49] huy-ngoduc opened #113 "Some [] assert issue"
### Description

there is problem with Some [] comparation

### Repro steps

[code]

### Expected behavior

all tests should be passed

### Actual behavior
only  ``Test safe_tl 1`` passed

but ``Test safe_tl 2`` failed with following message

------ Run test started ------
[xUnit.net 00:00:00.8515084]   Starting:    CS3110.Tests
[xUnit.net 00:00:01.5357260]     CS3110.Tests.L4Test.Test safe_tl 2 [

[2017-11-19 19:11] sergey-tihon commented on #113
@huy-ngoduc what is `netcore45`? ;) where I can download this?

this is kind-of known limitation of FsUnit DSL that comes to limits of F# type inference.
- `safe_tl [3]` has type `List<int>` this is obvious
-  `[]` has type `List<obj>` because the compiler does not have enough information to do better prediction.
- So, `Some<List<int>>` does not equal `Some<List<obj>>` even when lists are empty.

[2017-11-19 19:11] #113 closed

[2017-11-20 04:33] huy-ngoduc commented on #113
@sergey-tihon:
Thanks a lot for your help.

it's my mistake. I mean .net45 :)

[2017-12-06 17:52] ctaggart opened #114 "support xunit 2.3.1"
If you create a new test project with Visual Studio 15.5.0 and add FsUnit.xunit, #110 is related.

![image](https://user-images.githubusercontent.com/80104/33676580-dab411de-da94-11e7-9fa9-5faee863bdf4.png)

[2017-12-06 18:06] sergey-tihon commented on #114
could you please try the latest beta? https://www.nuget.org/packages/FsUnit.xUnit/3.1.0-beta2

[2017-12-06 18:32] ctaggart commented on #114
Works great and the unit tests show up in Visual Studio now. I had to bump up the test project from `net45` to `net46` which is fine.
![image](https://user-images.githubusercontent.com/80104/33678470-8fc7e35c-da9a-11e7-9512-4a3716c3eb4e.png)

[2017-12-06 18:34] ctaggart commented on #114
With company info pulled out, the fsproj was:
[code]

[2017-12-06 18:34] #114 closed

[2018-01-26 04:59] irium opened #116 "Update NuGet packages with new FSharp.Core version"
### Description

FsUnit and family requires FSharp.Core version < 4.3.0 while there is version 4.3.2 already published.

* Operating system
Windows 10 Pro
* Branch
FsUnit.xUnit @ 3.1.0-beta2
* .NET Core SDK 2.1.100-preview-007326

Visual Studio output:
[code]

[2018-03-03 11:26] sergey-tihon opened #118 "Support multi-target builds using Mono"
Tips here - https://github.com/dotnet/sdk/issues/335#issuecomment-368669050

[2018-03-04 12:19] atlemann commented on #118
Hi! I'm working on this. Have never done a PR before, so I'm not sure how to proceed. I have forked the repo and created a branch which I have pushed to my fork. I made the build work using the proposed technique, but there is still stuff I want to fix. Should I open a [WIP] PR to here now?

[2018-03-04 12:27] sergey-tihon commented on #118
Awesome! Yes, please open PR even with WIP version.

[2018-03-06 08:07] baltie commented on #108
Sorry, I never got around to test this. I've lately upgraded to FsUnit 3.1.0, and it works much better now, thank you. :)

[2018-03-06 08:07] #108 closed

[2018-03-07 17:28] #118 closed

[2018-03-07 17:30] sergey-tihon commented on #116
I think this is also fixed in `3.1.0`. @irium Please reopen if I am wrong.

[2018-03-07 17:30] #116 closed

[2018-04-02 21:37] sergey-tihon opened #120 "FsUnit.Expecto"
I think that would be nice to have an alternative assertion syntax for Expecto as well. A lot of people, including myself, like use the `FsUnit` DSL for assertions.

Awesome, @kleidemos did most of the work to make it happened. https://gist.github.com/kleidemos/35af85db392f21eaedc095b50c3c9449 The only missing piece is to decide how to merge it into `FsUnit`.

I see three option, ordered by my cur

[2018-04-03 00:03] jackfoxy commented on #120
Option 3. It has been a couple of years now since I have used FsUnit. I think Expecto would be best served by its own fluent composable assertion style.

[2018-04-03 00:04] jackfoxy commented on #120
Maybe something like
(value1, value2) |> isEqual "error message"

[2018-04-03 20:32] atlemann commented on #120
Doesn't Expecto already have something similar to `Option 1`,  which can be enabled by adding `open Expecto.Flip` in your test file. (https://github.com/haf/expecto/blob/master/Expecto/Flip.Expect.fs). I have never used the `FsUnitTyped syntax` before, only `FsUnit syntax`. To differentiate `FsUnit.Expecto` from `Expecto.Flip`, maybe Option 2 or 3 would be best?

[2018-04-04 16:09] jackfoxy commented on #120
@atlemann  I didn't know about this. Thanks.

[2018-04-04 22:32] jackfoxy commented on #120
I just started using Expecto.Flip today on the project I'm currently working on, and I like the syntax better. I think it would meet my composability needs (if I ever wanted/needed to compose Expecto results and property tests).

I'm not sure there is really a need for anything else.

[2018-04-09 16:38] jrr opened #121 "API Reference is empty"
### Description

API Reference is empty

### Repro steps

Visit https://fsprojects.github.io/FsUnit/reference/index.html .

### Expected behavior

Docs exist.

### Actual behavior

Empty page!

[2018-06-30 15:29] WildYorkies opened #122 "Make colors and indentation easier to distinguish information"
### Description

Users should be able to more easily see which tests failed and then see the related errors associated at a glance.

This is the red wall of text as it displays now:

![image](https://user-images.githubusercontent.com/1299322/42126514-ce011242-7c3e-11e8-8cda-5b5260cde89b.png)

### Possible Fixes

Only make the first `[xUnit.net 00:00:00.6835735]` lines **red**. And group the releva

[2018-07-21 18:01] sergey-tihon commented on #122
Thank you for the issue @WildYorkies, but I do not think that it could be fixed in FsUnit.
I agree with you that color-coding is not perfect, but we don't control colors.

I have to close this issue =( I see that issues in xunit also was closed.
Would be better open the issue in VSTest repo.

[2018-07-21 18:01] #122 closed

[2018-07-23 13:39] ErikSchierboom opened #123 "Update to xUnit 2.4.0"
xUnit 2.4.0 was released recently. It would be nice if FsUnit would support this version.

[2018-07-30 06:12] sergey-tihon commented on #123
@ErikSchierboom thanks for taking notice.

All (3) packages were releases with dependencies on latest unit testing frameworks

### 3.2.0 - Jul 30, 2018
* xunit (2.4)
* NUnit (3.10.1)
* MSTest.TestFramework (1.3.2)
* NETStandard.Library (2.0.3)

[2018-07-30 06:12] #123 closed

[2018-07-30 06:15] ErikSchierboom commented on #123
Great, thanks!

[2018-08-09 17:52] JordanMarr opened #124 "Method not found: FsUnit.Mstest.be()"
I get an exception when I try to use "be" with FsUnit.MsTest.

Example:

[code]

Full Exception:
[code]

* Windows 10
* .NET 4.6.1 - F# Library
* NuGet packages:
[code]

[2018-10-07 18:29] samuela opened #126 "docs link points to spam/malware website"
### Description

On https://fsprojects.github.io/FsUnit/NUnit.html: "Thanks to Keith Nicholas and Julian from hubFS for [link]this example[/link]!" but it currently points to a sketchy website that's telling me to install Adobe Flash.

[2018-10-08 19:03] sergey-tihon commented on #126
Thank you @sgoodgrove  for fixing this!

[2018-10-08 19:03] #126 closed

[2018-10-08 20:38] sgoodgrove commented on #126
Thanks @sergey-tihon
The t-shirt thing is the kick up the backside I needed to start contributing to the community. It’s low-hanging fruit initially, but I hope I can get better acquainted with some code bases and start making some more serious contributions.

P.S. thank you for all your hard work with F# Weekly!

[2018-11-10 08:06] sergey-tihon commented on #124
It looks like FSharp.Core version mismatch ....

You may try to add `AutoGenerateBindingRedirects` to your `fsproj` file

[code]

or binding redirects to `app.config` file

[code]

Read more in section `Use Binding Redirects for Applications` of https://fsharp.github.io/2015/04/18/fsharp-core-notes.html

[2019-08-09 11:43] davidelettieri opened #130 "Unexpected behavior of should equal"
### Description

In a simple method I'm returning (None,[]) and testing against (None,[]) with should equal. The test fails with

[code]

Testing with `Assert.Equal` is passing.

### Repro steps

1. Create a new xUnit FSharp Project from VS2019 Community
2. Update all packages as in
![image](https://user-images.githubusercontent.com/5262655/62775831-1cfb9580-baa9-11e9-81d1-802bbb959c89.png)

2. Re

[2019-08-09 14:07] davidelettieri commented on #130
adding type declarations solves the problem.

[2019-08-09 14:07] #130 closed

[2019-09-10 09:55] CaptnCodr opened #133 "Add collection constraints from NUnit"
### Description

I just wrote some tests and wanted to test a collection that has the equivalent item than another.

Could you please implement the [collection constraints](https://github.com/nunit/docs/wiki/Constraints#collection-constraints) from NUnit?

### Repro steps

I have to use NUnit's function with like:
`let areCollectionsEqual = CollectionAssert.AreEquivalent([1;2;3], [3;1;2])`

It's n

[2019-09-30 06:06] sergey-tihon commented on #133
It should be possible to do, but we need to add support for all frameworks (as we do for other operators) - http://fsprojects.github.io/FsUnit/operators.html

[2019-10-02 20:17] sergey-tihon commented on #16
Implemented by #134

[2019-10-02 20:17] #16 closed

[2019-10-02 20:21] sergey-tihon commented on #79
MbUnit has not been updated since 10/20/2014
These are no plans to update or release new versions for MbUnit
Related source code removed from the repo in #135

[2019-10-02 20:21] #79 closed

[2019-10-02 20:24] sergey-tihon commented on #120
Ok, I think that these are not enough reasons to compete with `Flip.Expect`

[2019-10-02 20:24] #120 closed

[2019-10-11 14:33] lucasteles commented on #133
Hi, I want to work on this.

In NUnit assertion, we have the CollectionAssert.AreEquivalent (which order don't matter) and CollectionAssert.AreEqual (which order matter), I think both should exist in FSUnit,

We those 2 assertion functions in MSTest and NUnit, but not in XUnit, XUnit have only a function which compares considering the order.

How do you think we can handle this?
Brad Wilson from x

[2019-10-15 04:10] sergey-tihon commented on #133
I guess `CollectionAssert.AreEqual` case should be covered by `equal` operator due to structured equality
[code]
(we may add such test-cases and check)

for NUnit and MSTest is make sense to wrap `CollectionAssert.AreEquivalent` into `equivalent` operator. I am not sure about xUnit, we can leave it not implemented because it is not idiomatic for framework or reimplement logic from NUnit on our sid

[2019-10-15 21:03] pviotti opened #138 "Simple XUnit test fails only on Windows"
### Description

A simple test on Azure Pipelines fails only when using Windows (2016 or 2019).

### Repro steps

This is the very simple test: https://github.com/pviotti/sayit/blob/az-pipelines/SayIt.Tests/Tests.fs#L12-L18

[This](https://dev.azure.com/pviotti/gh-pipelines/_build/results?buildId=58&view=logs) is the build that is OK on Linux and Mac, but fails on Windows 2016.
[Here](https://dev.

[2019-10-16 08:27] sergey-tihon commented on #138
I am not sure that it is somehow related to FsUnit at all.
Can you please try to play with your test, I guess it is platform specific issue (invisible character)
You probably should avoid `\n`  and use `TextWriter.CoreNewLine`, `Environment.NewLine` or [Trim()](https://docs.microsoft.com/en-us/dotnet/api/system.string.trim?view=netframework-4.8#System_String_Trim) both strings before comparison

[2019-10-16 21:07] pviotti commented on #138
You're right, that was it, thanks!

[2019-10-16 21:07] #138 closed

[2019-10-21 13:58] lucasteles commented on #133
I opened a PR for NUnit in https://github.com/fsprojects/FsUnit/pull/139

Next step is to implement it for MSTest, I saw that we are not using MSTest lib for asserts, we reimplemented some of the assertions,

Should we do the same for XUnit? makes sense?

[2019-10-21 17:51] CaptnCodr commented on #133
Sorry for "only" commenting to this issue and the changes that @lucasteles made.
I'm freshly new to F# and very unsteady to the development like this. 😄

[2019-10-21 18:39] sergey-tihon commented on #133
I believe that we should implement as less as possible, so you may reuse `MSTest` assertions where you can.

Also feel free to open PR that replace existing custom implementation by native assertions provided by framework (where possible)

[2019-10-24 12:32] CaptnCodr commented on #133
Is it possible to implement the [CollectionSubsetConstraint](https://github.com/nunit/docs/wiki/CollectionSubsetConstraint), too?

i.e.: I want to check if a sequence (`[1..10]`) has the values `[8;1;5]` in it.

Now, I have a function:
`let containInCollection x = Is.SubsetOf(x)`

to check it like:

`[1;8;5] |> should containInCollection [1..10]`

But this is not what FsUnit follows I think (from

[2019-10-25 09:46] CaptnCodr commented on #133
Ah, I got it. I use the [CollectionSupersetConstraint](https://github.com/nunit/docs/wiki/CollectionSupersetConstraint) to check this.

`let contain (x: IEnumerable<_>) = Is.SupersetOf x`

and use it as follows:

`let e () = [1..10] |> should contain [8;1;5]`

May I implement this @sergey-tihon?

[2019-10-27 10:19] sergey-tihon commented on #133
We already have [contain](https://github.com/fsprojects/FsUnit/blob/master/src/FsUnit.NUnit/FsUnit.fs#L52) operator

What to you think about
[code]
?

[2019-10-27 19:00] CaptnCodr commented on #133
Yea, sounds good. I'll try it and make a PR.

[2019-10-27 21:24] CaptnCodr commented on #133
I created a PR [#141](https://github.com/fsprojects/FsUnit/pull/141). I hope you like it.

[2019-10-30 09:25] CaptnCodr commented on #133
I would like to implement the `subsetOf` operator, too. To have the counterpart of `supersetOf`.

Like: `[4;5] |> should be (subsetOf [1..10])`

Is this okay?

[2019-10-31 17:45] CaptnCodr commented on #133
Hey @sergey-tihon,
I created now PR #144 for you.

[2019-11-02 19:50] CaptnCodr commented on #133
@lucasteles What about your implementations?

@sergey-tihon Do we need more collection assertions?

[2019-11-03 16:51] sergey-tihon commented on #133
@CaptnCodr There is no goal to add all possible operators, especially if you do not need them in our own code base. We can do on demand and only those that are really needed.

If you have time you can help finish #139 PR

[2019-11-23 01:11] CaptnCodr commented on #133
Hey @sergey-tihon, I created #145 for you. I took the changes from @lucasteles's PR (#139) to implement the NUnit assertion and added the MsTest assertion to it. Xunit is a bit harder I think.

I did my best. :)

[2019-12-18 08:54] ittennull opened #146 "`should equal` fails when `Assert.Equal` doesn't"
### Description

`should equal` fails when `Assert.Equal` doesn't

### Repro steps

[code]

### Expected behavior

The test passes

### Actual behavior

`should equal` fails with "FsUnit.Xunit+MatchException : Exception of type 'FsUnit.Xunit+MatchException' was thrown.
Expected: Equals Error "error"
Actual:   was Microsoft.FSharp.Core.FSharpResult`2[Microsoft.FSharp.Core.Unit,System.String]"

###

[2020-01-09 08:48] CaptnCodr commented on #146
I figured it out and have a solution for you.

In your last assertion you may have to add the explicit type to your `Error`, e.g.:
`result |> should equal (Result<unit, string>.Error "error")`

I'm very surprised that the compiler can't infer the type for this assertion.

[2020-01-09 09:34] abelbraaksma commented on #146
Maybe it's a type inference bug in F#? Is there a simpler test that doesn't involve task that exhibits the same behavior?

[2020-01-09 09:47] CaptnCodr commented on #146
I tested it with a simpler example which results in a same way:
[code]

The `match` expression is the neck braker here.

I think the `Assert.Equal(result, Result.Error "error")` has an internal `bind` to infer the correct type.

[2020-01-22 08:48] CaptnCodr commented on #146
@sergey-tihon What do you think?
I would suggest to close this issue, because everything looks fine here.

[2020-02-07 09:15] svdHero opened #149 "Parameterized tests with TestCaseSource attribute not working"
### Description

I want to run parameterized test using the NUnit attribute `TestCaseSource`. Please tell me how to do that and add code examples for paremterized tests to the documentation on https://fsprojects.github.io/FsUnit/NUnit.html.

### Repro steps

Run the code snippet
[code]
Note that I tried different flavours of test case sources above, based on (rather old) search results from the we

[2020-02-11 08:49] CaptnCodr commented on #149
Hey @svdHero,
the testing framework needs a test class -> [setup, examples](https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-fsharp-with-nunit).

When you follow these instructions (provided above) then you have a test class with members in it.

I've also wrote down the appropriate code for you:
[code]

Everything looks and works fine.

[2020-02-12 10:27] svdHero commented on #149
@CaptnCodr I am confused now. According to example 1 of the [FSUnit documentation](https://fsprojects.github.io/FsUnit/NUnit.html) a `TestFixture` is not necessary.

Also, I have hundreds of other FsUnit tests without any `TestFixture` that run just fine. The problem only exists with parameterized tests that use a `TestCaseSource`.

[2020-02-12 10:32] CaptnCodr commented on #149
`[<TestFixture>]` is in this case optional and `[<Test>]` is optional when you have `[<TestCase>]` or `[<TestCaseSource()>]`.

Try it out.

[2020-02-12 10:35] svdHero commented on #149
I've just found that, too, in, [the official NUnit documentation](https://github.com/nunit/docs/wiki/TestFixture-Attribute). However, there it clearly says:

For me that means:

1. My Test Class itself is not parameterized, i.e., it has no explicit constructor.
2. My Test Class contains a method marked with the `TestCaseSource` attribute.

Hence, according to the documentation above, it should be

[2020-02-12 10:37] svdHero commented on #149
Or in other words: the only difference between my code and your code, @CaptnCodr , is the `TestFixture` attribute, right? So if this attribute is optional anyway, why does your code run, but mine does not?

[2020-02-12 10:39] svdHero commented on #149
Ah, sorry. My fault. I only now saw the `member` keyword. I got it. The class is necessary. Let me try...

[2020-02-12 10:44] svdHero commented on #149
Ok, that works.
Funnily enough, I also found a different solution on F# Slack for my original code without the need of a test fixture class:

[code]
Apparently, the boxing of the array via type hint `obj[][]` makes the error message go away. @CaptnCodr do you have any idea why this works without a test class / test fixture?

[2020-02-12 11:29] CaptnCodr commented on #149
@svdHero I don't really know.
I'm surprised that the implicit conversion from array to tuple works.

[2020-02-12 11:42] svdHero commented on #149
Okay. Well. Thanks for your help anyway. I'm closing this issue.

[2020-02-12 11:43] #149 closed

[2020-02-21 02:14] codingedgar opened #151 "throwWithRegexMessage"
I find myself using regex to match dynamic errors, could this be added?

[code]

Maybe there could be a better message I can make the PR if worth including.

[2020-02-21 02:28] edgarjrg commented on #151
Also, if `throwWithMessage` fails, then it prints:
[code]
Would expect `Actual` to have the same form as Expected instead the function id

[2020-02-26 11:41] svdHero opened #152 "Equality check fails for Dictionaries inside records"
### Description
When a Dictionary is a named value inside a record, then FsUnit / FsUnitTyped produces an error when calling `should equal` and `shouldEqual`, respectively, although, according to the test output, the compared values are equal, e.g.:
[code]

### Repro steps

Execute this in a test runner:
[code]
### Expected behavior

All four tests succeed.

### Actual behavior

The last two tests

[2020-04-15 13:59] xperiandri opened #153 "How to execute async tests?"
Is there an adapter that allows executing tests of `async` workflows?

[2020-04-15 14:16] sergey-tihon commented on #153
What framework do you use?
FsUnit is an assertion library. Execution of test is the responsibility of test framework

[2020-04-15 14:25] xperiandri commented on #153
NUnit
But there is no sample neither for MsTest, not xUnit. The only way is to do `|> Async.StartImmediateAsTask :> Task`

[2020-04-15 14:26] xperiandri commented on #153
As **FsUnit** provides F# abstraction on top of frameworks it is **FsUnit** responsibility to do adaptation

[2020-04-15 14:46] sergey-tihon commented on #153
You solution is fine, here you also can find good recommendations
https://stackoverflow.com/questions/46227709/how-do-i-write-an-async-unit-test-method-in-f

my personal choice will be to use `task{}` and do not convert each async to task in tests

[2020-04-27 09:07] cboudereau opened #154 "FsUnit.Xunit : when using result type, on error, actual message is not showing the pretty printing but type info."
### Description

When the unit test "should equal" failed, an error message indicates the pretty printing for the Expected but only type info the the Actual one.

### Repro steps

1. Add the FsUnit.Xunit

2. add a unit test with :
`Ok "hello" |> should equal (Ok "world")`

### Expected behavior

Expected result :
[code]

### Actual behavior

[code]

### Known workarounds

[code]

### Related infor

[2020-04-28 08:41] sergey-tihon commented on #154
I think the investigation should start here
https://github.com/fsprojects/FsUnit/blob/master/src/FsUnit.Xunit/FsUnit.fs#L18
and check how `DescribeMismatch` is implemented in https://github.com/nhamcrest/NHamcrest

[2020-05-06 18:42] CaptnCodr commented on #154
I looked where the message "was ..." come from. This is when I stringify the actual value.

The Result type string "Microsoft.FSharp.Core.FSharpResult`2[System.String,System.Object]" comes from when it's parsed through the CLR from F# to C# and gets stringified from C# code like here: https://github.com/nhamcrest/NHamcrest/blob/master/src/NHamcrest/Core/Matcher.cs#L11.

I played around and got the

[2020-05-07 07:27] CaptnCodr commented on #154
It possibly go right when NHamcrest has a F# version of the matcher. But NHamcrest wasn't updated for a long time so far.
It would also be good when there is a matcher that is based on the actual running .NET core.

NHamcrest has actually `TargetFramework` `netstandard1.5;net451` (https://github.com/nhamcrest/NHamcrest/blob/master/src/NHamcrest/NHamcrest.csproj#L4)

[2020-06-18 18:20] CaptnCodr commented on #154
I opened a PR #155 which will fix the "ugly" message.
Xunit and MsTest messages were affected.

[2020-06-19 11:44] CaptnCodr commented on #152
Short:
`wrappedDictOne` and `wrappedDictTwo` have different hash codes and there is no structural equatable available.

PR #147 could solve this issue.

Workaround:
You can use `equivalent` in FsUnit and access dictionaries via these options:
1. `wrappedDictOne.Dict |> should equivalent wrappedDictTwo.Dict`
2. `wrappedDictOne.Dict |> should equal wrappedDictTwo.Dict`
3. `wrappedDictOne.Dict |> sho

[2020-06-19 19:20] CaptnCodr commented on #146
@ittennull Did it help?
You could close this issue when there aren't any questions to this topic.

So long!

[2020-06-19 19:32] CaptnCodr commented on #151
@sergey-tihon Suggestions or ideas?

[2020-06-20 07:25] #146 closed

[2020-06-20 08:37] sergey-tihon commented on #151
I do not mind if `throwWithRegexMessage` will be added with tests for all framework

This is quite tricky, xUnit and MSUnit mismatch description builder rely on `.ToString()` that is defined for F# types in a way now very pleasant for our use case (would be way more useful to use `%A`)

I am not sure that there is a short of simple fix for this, that does not break error messages for other operato

[2020-06-20 19:36] codingedgar commented on #151
Then maybe I'm not using it correctly? because idk how to work with `Actual:   was ProgramTest+try async write 2@49`, I expected something more like this:

![image](https://user-images.githubusercontent.com/10213241/85210163-b6bbe200-b30b-11ea-8be1-7426ccec02c1.png)

[2020-06-25 05:33] sergey-tihon commented on #151
I am not aware about such diffs for .net test frameworks. I believe it cannot be added to DSL library (like FsUnit), It should be supposrted by framework (xUnit, NUnit, MSUnit) and runner (console runner) that will provide colorful output.

AFAIK, Expecto support string diff (but for a git-like diff for objects)
https://github.com/haf/expecto/releases/tag/v2.2.0

[2020-06-26 05:38] CaptnCodr commented on #154
Fixed with #155.

[2020-07-19 13:52] sergey-tihon opened #158 "FsUnit 4.0 Roadmap"
- [x] Merge https://github.com/fsprojects/FsUnit/pull/147
   - [x] Find out why Equality.fs printf to console. https://github.com/fsprojects/FsUnit/pull/160
- [x] Merge https://github.com/fsprojects/FsUnit/pull/157
   - [x] https://github.com/fsprojects/fantomas/issues/982
- [x] Format `tests/**` using Fantomas - https://github.com/fsprojects/FsUnit/pull/159
- [x] Update docs
   - [x] Remove http:

[2020-07-19 18:21] sergey-tihon commented on #158
@CaptnCodr anything else that should be here or potentially breaking?

[2020-07-19 20:34] CaptnCodr commented on #158
1. Will the Nuget package "Fs30Unit.MsTest" changed to "FsUnit.MsTest" (https://github.com/fsprojects/FsUnit/pull/157/commits/78f6a062c51da98c0102254974e5f325c019b982) and have to be mentioned in the release notes?
2. What about the "issue" with the `dot` in Visual Studio what I mentioned here: https://github.com/fsprojects/FsUnit/pull/157#issuecomment-657123966
to have better structured tests in

[2020-07-20 05:51] CaptnCodr commented on #158
@sergey-tihon Why did you revert the Fsharp.Core version yesterday? (https://github.com/fsprojects/FsUnit/commit/c4bd0c9de05259a8b78488dadd4a3bf4fc2e8576) Are there any issues then?

[2020-07-20 05:56] sergey-tihon commented on #158
NuGet package is not renamed yet. It is build from paket template that still has old name  - https://github.com/fsprojects/FsUnit/blob/master/src/FsUnit.MsTestUnit/paket.template#L3
I am not fully sure that we should rename ... Rename means new package publishing with 0 downloads and breaking change for all existing users...

to have better structured tests in the test explorer?

I can merge PR wi

[2020-07-20 06:10] CaptnCodr commented on #158
Then we shouldn't do that now.

`[dot]` should go. I read a few times that people do that with `[dot]` instead of `.`.

I didn't know.

[2020-07-20 06:12] sergey-tihon commented on #158
@CaptnCodr do you to want PR consistent renaming that works for you in VS?

[2020-07-20 06:12] CaptnCodr commented on #158
Yes, of course.

[2020-07-20 06:27] CaptnCodr commented on #158
Btw.: After pulling master I got this warnings again:
![image](https://user-images.githubusercontent.com/4574031/87906389-da855b80-ca62-11ea-8149-36c45787de2b.png)

[2020-07-20 07:40] CaptnCodr commented on #158
From the checks above:

We could add the new logo to the fsharp.org projects page:
https://fsharp.org/community/projects/

[2020-07-20 13:04] CaptnCodr commented on #158
To my comment above:

Here is what I think:

#19 -> abandoned / wrong repo
#47 -> not idiomatic / declined
#72 -> old / resolved?
#109 -> resolved?
#111 -> abandoned
#121 -> not up-to-date / abandoned
#124 -> resolved
#151 -> not idiomatic
#153 -> resolved
#154 -> resolved

[2020-07-20 18:38] sergey-tihon opened #166 "FSharpCustomMessageFormatter"
Just found in docs http://fsprojects.github.io/FsUnit/NUnit.html
<img width="847" alt="image" src="https://user-images.githubusercontent.com/1197905/87973332-04756700-cad1-11ea-9884-2e96b0627ec3.png">

@CaptnCodr I remember that you fixed similar issues here https://github.com/fsprojects/FsUnit/pull/155
May I ask you to take look if it still works / needed?

[2020-07-20 18:43] CaptnCodr commented on #166
Yes, I take a look.

[2020-07-20 19:17] CaptnCodr commented on #166
@sergey-tihon It still works and is needed. Especially the `Result`-Type.
In this repro I recognized that `FsUnitTyped.shouldEqual` and `FsUnitTyped.shouldNotEqual` prints the error message twice.
First from `FsUnitTyped` and second from the Nunit framework:

![image](https://user-images.githubusercontent.com/4574031/87976875-1acdf380-cace-11ea-9c47-43597140ffd3.png)

We should fix this. This is f

[2020-07-20 19:25] CaptnCodr commented on #166
This fix can be achieved through removing the `sprintf "Expected: %A\nActual: %A" expected actual`, but then we have no pretty print anymore.

[2020-07-25 09:22] #166 closed

[2020-07-25 09:23] #153 closed

[2020-07-25 09:23] #154 closed

[2020-07-25 09:24] sergey-tihon commented on #124
I hope that this is resolved. Please reopen if it is still an issue

[2020-07-25 09:24] #124 closed

[2020-07-25 09:25] sergey-tihon commented on #109
I believe this is also fixed already

[2020-07-25 09:25] #109 closed

[2020-07-25 09:25] #72 closed

[2020-07-25 14:29] sergey-tihon commented on #121
no generated api reference (auto-generated) docs for now

[2020-07-25 14:29] #121 closed

[2020-07-25 16:50] sergey-tihon commented on #19
Close this as an very old issues

[2020-07-25 16:50] #19 closed

[2020-07-25 16:52] sergey-tihon commented on #47
Closed as an old issue (without realistic implementation ideas)

[2020-07-25 16:52] #47 closed

[2020-07-25 16:54] sergey-tihon commented on #111
should not be an issue with v4 since it provide only `netstandard2.0` assemblies

[2020-07-25 16:54] #111 closed

[2020-07-25 16:59] sergey-tihon commented on #152
Agree, we not going to implement / support structural equality for types that does not implement it themself.
In v4 we added support for `IStructuralComparable` & `IStructuralEquatable `
https://github.com/fsprojects/FsUnit/blob/master/src/FsUnit.NUnit/Equality.fs#L22-L25

[2020-07-25 16:59] #152 closed

[2020-07-25 17:01] #158 closed

[2020-07-25 18:16] CaptnCodr commented on #158
Nice work! 🙂

[2020-07-25 18:18] sergey-tihon commented on #158
@CaptnCodr thank you for your help

[2020-07-30 21:02] marklam opened #170 "(FsUnit / NUnit) shouldEqual on ImmutableCollection of Url gives ArgumentException on failure"
### Description

An ImmutableCollection containing types which are structurally equatable but not structurally comparable causes an ArgumentException instead of an Assertion Failure, but only if the collections don't compare as equal

### Repro steps
[code]

### Expected behavior

An assertion failure

### Actual behavior

[code]

### Known workarounds

Please provide a description of any known wo

[2020-07-31 07:07] #170 closed

[2020-10-02 23:32] lucasteles commented on #133
Hello, nice to see that @CaptnCodr  could use some of the my changes.

This issue still open and it's not clear what is the next steps of constraints to do

[2020-10-03 08:52] CaptnCodr commented on #133
@lucasteles Yes, it's still open because discussions about coming constraints could be made here when they are necessary to implement as mentioned by Sergey above https://github.com/fsprojects/FsUnit/issues/133#issuecomment-549156544

[2020-10-31 13:33] jilleJr opened #174 "shouldFail with "unexpected result" instead of ignore"
### Description

Using `shouldFail` is a little bit tedious when it comes to having to use `ignore`.

In my opinion, would be nice if `shouldFail` could take a function that had a return value (i.e. `unit -> 'a`) and then use that return value in the error message if the test would fail.

### Repro steps

1. Create MyTests.fs

2. Insert code:

[code]

3. Run tests

### Expected behavior

Error fro

[2020-11-02 08:30] CaptnCodr commented on #174
Hi,
do I understand right that you want to have an information what exactly goes wrong in `shouldFail` like `Unexpected result: 42`?
![image](https://user-images.githubusercontent.com/4574031/97846040-b6861700-1ced-11eb-94ce-8f92be0e0c98.png)
That means, that the value of `But was: null` would be `But was: 42`?

[2020-11-02 08:42] jilleJr commented on #174
@CaptnCodr Yea that would be swell! Maybe pronounce that one is a value and one is an exception a little more.

(Just brainstorming) what about:

1. Expected: instance of `<System.Exception>`
   But returned: 42

2. Expected exception: instance of `<System.Exception>`
   But returned: 42

3. Expected: exception of `<System.Exception>`
   But returned: 42

And then have on wrong exception type it s

[2020-11-02 16:11] CaptnCodr commented on #174
Short: This behaviour is not idiomatic to FsUnit.

Long: This messages you see are the result of the checks in Nunit (in this case).
This operator `shouldFail` works with `Assert.Throws` and ignores the returning/deviating exception, it only checks the type of the actual code and creates a delegate for your function to run it. In addition `Assert.Throws` takes a [TestDelegate](https://docs.nunit.o

[2020-11-02 20:53] sergey-tihon opened #175 "Extend maintainers team"
@CaptnCodr you recently did a great job fixing issues in this repo.
Would you like to become a maintainer of FsUnit, receive full access to the repo, nuget packages and help keep this project being actual?

[2020-11-03 06:09] CaptnCodr commented on #175
I'm happy that you ask. Yes, I want to become a maintainer of FsUnit.

[2020-11-03 08:12] jilleJr commented on #174
Hmm ok yea. I mean it would be possible to reinvent the wheel a little and abuse the `Assert.Fail()` with a custom check and custom error message. But maybe that's too non-idiomatic to FsUnit as you say.

The whole point was just to get better error messages (and less `|> ignore`), and not necessarily that users should rely on this new behaviour.

It's OK for me to close this issue.

[2020-11-03 09:26] CaptnCodr commented on #174
Perhaps, I will look into this at another point. It have to fit in all structures and it's a clump of work to do so.

If you have a proposal of an implementation don't hesitate to open a PR.

[2020-11-03 10:11] CaptnCodr commented on #174
@jilleJr You can close this issue. There is no plan to do it.
Actually, there is no great need to use it. There are more ways to test code using other operators.

[2020-11-03 10:37] jilleJr commented on #174
Oki ^^

[2020-11-03 10:37] #174 closed

[2020-11-03 20:13] sergey-tihon commented on #175
@CaptnCodr give me please you NuGet account name

[2020-11-03 20:18] CaptnCodr commented on #175
Nuget is same as GitHub username.

[2020-11-03 20:24] CaptnCodr commented on #175
Thank you very much @sergey-tihon. 😊🥳

[2020-11-03 20:26] sergey-tihon commented on #175
Thank you @CaptnCodr for your contributions!

[2020-11-03 20:26] #175 closed

[2020-11-23 22:05] bmitc opened #179 "System.NullReferenceException generated if bindings are outside of [<Fact>] attributed let binding"
### Description

I am having some issues in which a `System.NullReferenceException` is generated if I pull some bindings outside of a test's let binding with the `[<Fact>]` attribute. The use case is that if multiple tests use the same values, it would be nice to simply define them once outside of the tests rather than have to copy them into each test. This seems to work for some situations but no

[2020-11-24 15:10] CaptnCodr commented on #179
Hey @bmitc, I looked at your code and you may have to put your test code into a class because the compiler put `let` bindings out of the scope. This is a general problem from the compiler.

The best fix looks like this:
[code]

This is not a problem from FsUnit or the test framework. In nunit you will get the same issues.

[2020-11-24 22:07] bmitc commented on #179
Thanks for taking a look! My issue was part is there something wrong or am I doing something wrong, so this helps.

Although, I think I am still a little confused. For example, in the `LightAndShading.fs` test file, I have `let` bindings not in a class like this,
[code]
and those work fine. And in [this example](http://fsprojects.github.io/FsUnit/xUnit.html#BowlingGame) on the FsUnit website, ther

[2020-11-25 06:56] CaptnCodr commented on #179
Yes, I think that's a difference between a class and a record.

Here you have a instance of a class:

and here a record instantiation:

Their behaviour may be different.

[2020-11-25 23:26] bmitc commented on #179
In that code, `material` and `point` are both functions that return records, which is why they are lower case. They're simply like that to provide easier record creators and to match the book I'm going through. In the ones that cause errors, `light` through `w`, those are all records as well. None of these records have F# class types in their underlying data.

[2020-11-26 06:24] CaptnCodr commented on #179
Yes, I see.

Perhaps, the encapsulation is responsible for holding your data.
E.g.: make everything a function you'll don't lose your data while running tests.
Disadvantage: you have many parantheses in your code.

[2020-11-27 22:31] CaptnCodr commented on #179
@bmitc Everything clear? Can this be closed?

[2020-12-03 21:09] bmitc commented on #179
Apologies, I didn't see your last message.

I think it's clear what to do to fix it. For data that is re-used across multiple tests, it seems the options are:

1. enclose tests and pieces to be reused across them inside a class,
2. put reusable bindings behind function calls,
3. repeat data for each test.

It isn't necessarily clear as to why, since that requires knowledge of the xUnit framework a

[2020-12-04 12:22] CaptnCodr commented on #179
Yes, you maybe should know which framework you use in your project and why. In fact that the xUnit framework is written in C#, perhaps it has same behaviours like architectures that are written in C#.
That includes that you encapsulate your bindings in a class which are in samples here: http://fsprojects.github.io/FsUnit/xUnit.html#LightBulb
Yes, there is no notice that are used with types (class

[2020-12-08 20:33] #179 closed

[2021-09-27 14:01] purkhusid opened #189 "FsUnit does not work with Result"
### Description

FsUnit does not work with Result type

### Repro steps

Please provide the steps required to reproduce the problem

[code]

### Expected behavior

The test should pass

### Actual behavior

Fails with

[code]

### Related information

Using FsUnit.Xunit 4.0.4

[2021-10-04 18:33] CaptnCodr commented on #189
Hello @purkhusid,
when I run your code then I get this message:
[code]
The expected `Error` doesn't match with the actual `Ok`.
I played with your example and I think you have to specify the type like that (which works):
[code]
In your example the compiler doesn't "know" your type in expectedError (`Result<'a, DomainError>`) see:
![image](https://user-images.githubusercontent.com/4574031/135904255

[2021-10-04 21:01] purkhusid commented on #189
Hey! Thanks for taking your time responding to my issue! I figured that I just needed the type annotations, thanks again for taking your time!

[2021-10-04 21:01] #189 closed

[2021-10-09 16:19] wenLiangcan opened #190 "ofCase doesn't support generic union type"
### Description

Checking case of generic union type throws `System.InvalidCastException`.

### Repro steps

[code]

### Expected behavior

The testing should be passed.

### Actual behavior

The following exception is throwed.
[code]

### Known workarounds

None.

### Related information

* Windows 11
* FsUnit 4.0.6
* .NET 5

[2021-10-09 17:41] sergey-tihon commented on #190
that is how type inference works in F#.
Compiler has no information to identify type of `Case1` inside quotation, that is why it uses most generic one MyCase<obj>

<img width="945" alt="image" src="https://user-images.githubusercontent.com/1197905/136668711-e293fe05-883d-4d85-98dc-903ad208aae3.png">

in this case you have to manually specify type to help compiler

<img width="960" alt="image" src=

[2021-10-09 19:10] #190 closed, assigned to nobody

[2021-10-11 15:19] dsyme opened #191 "ofCase doesn't handle None (represented as null)"
### Description

`None |> should be ofCase <@ None @>` doesn't work

The problem is that `None` is represented as `null` and [the `x.GetType()` on this line](https://github.com/fsprojects/FsUnit/blob/8134d984ba5d1d9200dfac7f03e6dd5070ed15e0/src/Common.fs#L51)  gives a NullReferenceException.

### Expected behavior

Evaluates to `true`

### Actual behavior

NRE

### Known workarounds

Hand code che

[2021-10-12 19:13] CaptnCodr commented on #191
@dsyme This issue has been fixed in FsUnit v4.0.7.

[2021-10-12 20:45] dsyme commented on #191
Thanks! cc @kathleendollard

[2021-10-12 20:51] #191 closed, assigned to nobody

[2021-10-13 07:31] johanvts opened #193 "equalWithin on DU types of float"
### Description

I am building test on discriminated union types that can take on a case =of float=. However the =equalWithin= operator is not able to compare two numbers within a range for such types, making it hard to test things as I need to drill down to perform explicit float conversion. See example:

### Repro steps

[code]

### Expected behavior

I would like both tests to pass or for there

[2021-10-13 14:49] CaptnCodr commented on #193
Hey Johan, do I understand right that you want to unwrap your types to test its value?
Then I would recommend to build a unwrap function that does that for you like this:
[code]
Same thing for your `Name of string`: you can unwrap it to test the boxed string.

I think that this is not the purpose for this operation. You can test whole objects with the `equal` operation e.g.:
[code]

[2021-10-13 21:12] johanvts commented on #193
Thanks @CaptnCodr

Sorry for not being very clear. Let me try with your example:

[code]

Will fail due to rounding errors, so I would like to be able to write:

[code]

and even better I would also like to have my DU types `of float` supported (auto-unboxing) so I could write:

[code]

Currenly to write this last test I have to test and unbox each field of the record seperately.

So I'm looking f

[2021-10-14 06:57] CaptnCodr commented on #193
I think this is not idiomatic for _**tests**_ doing this. You may have to split it in serperated assertions in a single test:
[code]

Think about it and look into the pattern of unit tests.
You could also write an extension for your special case that e.g. automatically unwraps your floats before calling the original Fsunit operator.

[2021-10-19 05:57] CaptnCodr commented on #151
Diffract can show you a diff of your F# types etc., see:
https://github.com/d-edge/Diffract

[2022-01-27 10:14] CaptnCodr opened #197 "Implementing Expecto"
### Description

I came across [Expecto](https://github.com/haf/expecto) and discovered the possibilities behind it.
We could implement Expecto because it has also a wide range of users.

### Actual behavior

Some users may not using FsUnit because FsUnit is currently not supporting Expecto.

### Feature

First of all, we could implement the basic features that are currently also implemented in Fs

[2022-01-27 10:45] sergey-tihon commented on #197
We already discussed this in 2018 https://github.com/fsprojects/FsUnit/issues/120 and find out https://github.com/haf/expecto/blob/main/Expecto/Flip.Expect.fs that is very close to FsUnit syntax.

I still do not see much value to compete. Maybe we just should link/mention recommendation for Expecto?

[2022-01-27 11:51] CaptnCodr commented on #197
Yes, you're right. This is quite equal to FsUnit.

We can do that. How would that look like and where would you write that down?

[2022-01-27 13:21] sergey-tihon commented on #197
I think that we can add Expecto page in Getting started section and mention that we do not provide FsUnit.Expect because there is a thing called Flip.Expecto that provides similar assertion syntax, link to the official docs and maybe add some simple code sample how it looks.

<img width="1251" alt="image" src="https://user-images.githubusercontent.com/1197905/151367106-864a1668-f0fd-4f8f-ab91-0bfc

[2022-01-28 08:45] CaptnCodr commented on #197
Or we just link it up there with no comment.
![image](https://user-images.githubusercontent.com/4574031/151513927-17f2427e-4857-45b1-9218-3f897232af68.png)

[2022-01-28 16:10] BryanWilhite opened #198 "`result |> should be (ofCase <@ Ok @>)` throws exception at runtime"
### Description

[code]

### Repro steps

[code]
### Related information

[code]

[2022-01-28 16:24] sergey-tihon commented on #198
This discussion should help https://github.com/fsprojects/FsUnit/issues/190#issuecomment-939333733

As you error message say

`result` has type `Microsoft.FSharp.Core.FSharpResult`2[System.Tuple`2[System.Boolean,System.Text.Json.JsonElement],System.Text.Json.JsonException]`

`Ok` has type `Microsoft.FSharp.Core.FSharpResult`2[System.Object,System.Object]` (compiler was not able to infer generic pa

[2022-01-28 16:25] CaptnCodr commented on #198
or look at that issue #189
You may have to add further type declarations to your code.

Just try following:
[code]

[2022-01-29 07:21] sergey-tihon commented on #197
@CaptnCodr we can start from that.

But I think that this "Expecto Fluent API" is quite hard to find

[2022-02-02 03:53] BryanWilhite commented on #198
excellent! many thanks @sergey-tihon and @CaptnCodr!

it is working as expected:

![image](https://user-images.githubusercontent.com/5226627/152090533-a75b6014-bfc3-4ac4-9a88-1f5de994710e.png)

[2022-02-02 03:53] #198 closed

[2022-02-03 21:02] alex-piccione opened #199 "Error message when DateTime is not equal does not provide any help"
### Description

When the "equal" check find a DateTime different from what it is expected the error message does not shows the problem. This generated confusion and within the non-formatted code in the message it makes really difficult and time coinsuming try to find out what is the cause of the error.

### Repro steps

1. Run ths test
[code]

2. observe the error message in ther test result:

[c

[2022-02-03 21:16] alex-piccione opened #200 "Error message for "equal" is difficult to read and does not show the date milliseconds also when that is the only difference"
### Description

When the "equal" fails because the actual record differ from the expected one the error message is really difficult to read, and it results very difficult to find out what generate the problem.

### Repro steps

1. Run the following example test in Visual Studio:
[code]

2. Observe the resulting error message:
[code]

### Expected behavior

The error message should point out what

[2022-02-03 21:35] alex-piccione commented on #199
Many database (or thair drivers) store the datetime with the precision of milliseconds.
That is not enough when the original DateTime is written and then read back to guarantee the "equality".
The following is an example of a DateTime saved and read back on MongoDB 3.x:

![image](https://user-images.githubusercontent.com/876490/152432624-884d15e2-c6df-42a4-8385-e9b626de5cb5.png)

DateTime differs

[2022-02-04 08:37] CaptnCodr commented on #199
Hey @alex-piccione,
I see the problem. I think the root cause is the underlaying .NET type system.

Let me figure it out:
When you create a `DateTime` variable you get a date which you already see in your 2nd post with all the seconds, milliseconds and ticks etc..

Now, you want to test your record and the type system checks the types if they match and the values if they match, too. Values of the

[2022-02-04 13:28] alex-piccione commented on #199
Hi, Thanks for the reply.
I know that I can manually test the dates equality in a way that provides a meaningfull message, but I think it should automatically be done by the simple assertion:
``actual |> should equal expected``.

Is this not the goal of the "equal" assertion failure message? or it is not reasonable to do?
I have a lot of them, not just this one. Also, other items have more DateTim

[2022-02-04 14:42] CaptnCodr commented on #199
FsUnit nor any other testing framework does this. They only execute the `ToString()` (or something similar) to have stringified values.
Especially in the implementation of NUnit FsUnit just consumes the NUnit constraints here: https://github.com/fsprojects/FsUnit/blob/master/src/FsUnit.NUnit/Equality.fs#L23

Anyway, this is not reasonable to do for us. We cannot implement every format for every sp

[2022-02-04 20:55] #199 closed

[2022-02-04 20:59] #200 closed

[2022-02-14 13:00] CaptnCodr commented on #197
Docs now have been updated.

[2022-02-14 13:00] #197 closed

[2022-03-02 15:57] Lanayx opened #202 "Method not found: 'Void Xunit.Sdk.AssertActualExpectedException..ctor"
### Description

FsUnit + XUnit doesn't display human readable error, instead throws Method not found exception

### Repro steps

[code]

### Expected behavior

Both tests should have error displayed as

[code]
### Actual behavior

FsUnit shows the following error:

[code]

### Known workarounds

### Related information

    <PackageReference Include="xunit" Version="2.4.2-pre.12" />
    <PackageR

[2022-03-03 19:28] CaptnCodr commented on #202
Hi @Lanayx,
the current stable and recommended version 2.4.1 of xunit is actual the best version that FsUnit supports at the moment.

The xunit team had a migration mistake in the build 2.4.2-pre.12, this has been fixed in a later update (2.4.2-pre.20).
Here is the link to this version: https://myget.org/feed/xunit/package/nuget/xunit.assert/2.4.2-pre.20

This should help.

[2022-03-03 19:49] Lanayx commented on #202
Thanks for the response, I'll close the issue in that case

[2022-03-31 21:08] Smaug123 opened #204 "Pipelines are not correctly failing"
### Description

https://github.com/fsprojects/FsUnit/pull/203 at commit bd20cb8c996742f8ae5afebd86eb700dd306c282 resulted in https://github.com/fsprojects/FsUnit/runs/5778346102 which contains the following:

[code]

That is, it correctly notes that [one of my added files](https://github.com/fsprojects/FsUnit/blob/bd20cb8c996742f8ae5afebd86eb700dd306c282/tests/FsUnit.Xunit.Test/typed.shouldEqualT

[2022-04-04 08:04] Smaug123 opened #207 "Inconsistent behaviour of `should equal` in NUnit vs XUnit"
### Description

See https://github.com/fsprojects/FsUnit/pull/203#issuecomment-1087226133.

This test behaves differently in xUnit vs NUnit:
[code]
(On master, that test is not present in the Xunit tests, but it is present in the NUnit tests.)

In xUnit, `a |> should equal b` ultimately (via the CustomMatcher) asks whether `a = b`; that is, whether `a.Equals(b)`.

In NUnit, `a |> should equal b`

[2022-04-04 17:30] CaptnCodr commented on #204
Is this resolved now?

[2022-04-04 18:54] Smaug123 commented on #204
If it is fixed, it was fixed by https://github.com/fsprojects/FsUnit/pull/205. I haven't verified that it is fixed.

[2022-04-04 19:06] #204 closed, assigned to nobody

[2022-04-05 09:14] #207 closed

[2022-04-05 11:10] Smaug123 commented on #207
Could you please confirm, using the test I put in the description, that this problem is fixed? I'm away from my computer, but I strongly suspect it is not.

[2022-08-04 13:18] sergey-tihon opened #210 "Update docs site"
@CaptnCodr can you please help to republish docs site from `master` to make it up-to-date?

[2022-08-04 13:46] CaptnCodr commented on #210
Yes, because of the v5.0 Release with FsUnitTyped changes etc.?

[2022-08-04 15:30] sergey-tihon commented on #210
yes, we updated docs that FsUnitTyped is currently added to xUnit but forgot to update docs

[2022-08-04 15:44] CaptnCodr commented on #210
Alright, I'll have time for that tomorrow. :)

[2022-08-05 08:33] CaptnCodr commented on #210
I accidentally pushed directly to master, I hope the changes are ok.

[2022-08-05 08:54] CaptnCodr commented on #210
@sergey-tihon Can you give me a 👍 if you approve?
So I'll then release the docs and a new version with dependency updates as v5.0.1.

[2022-08-05 09:46] CaptnCodr commented on #210
I had to remove the code example here to generate the new docs site because of the '@'-sign: https://github.com/fsprojects/FsUnit/commit/56d29e15a3cd2a6da544c2d9df1d5ba5a246dce3#diff-badc17ff44c87f5563ad36766e8d42f4dfdb140433e680a9d82c439136af9066R28
We have that code example in the docs, too.

After that all things are fine. Everything is now fixed and published.

[2022-08-05 15:59] sergey-tihon commented on #210
Thank you @CaptnCodr !

[2022-08-05 15:59] #210 closed

[2022-08-15 20:35] Vasar007 opened #212 "error FS0074: The type referenced through 'NHamcrest.IMatcher`1' is defined in an assembly that is not referenced."
### Description

Hello! Recently I received notification from dependabot to update FsUnit from 5.0.1 to 5.0.2. I have CI in my repository. So, CI check failed with a follow error in the logs:

`error FS0074: The type referenced through 'NHamcrest.IMatcher'1' is defined in an assembly that is not referenced. You must add a reference to assembly 'NHamcrest'.`

You can see the full logs of CI check [

[2022-08-16 06:21] CaptnCodr commented on #212
Hey @Vasar007, thank you for opening an issue. I'll look into that.

[2022-08-16 08:34] #212 closed

[2022-08-16 08:40] CaptnCodr commented on #212
This issue is fixed in v5.0.3, that is now available at Nuget.

[2022-08-17 19:38] abelbraaksma opened #214 "Using `should throw` does not show the raised exception, only the string version of the lambda"
### Description

With `FsUnit.XUnit` using `should throw`, the report of "Expected vs Actual" shows the string version of the lambda function that was used to pass into the test.

Another issue is that, when the result type of the function-under-test is _not_ `unit`, the test will always fail with a similar vague message.

### Repro steps

You can repro with this test:

[code]

### Expected behavi

[2022-08-18 16:01] CaptnCodr commented on #214
Is it even possible to evaluate/stringify lambdas?
Only the compiler knows the types here, does he?

[2022-08-30 04:44] C0DK opened #215 "[Feature request] Creating custom constraints"
### Description

I'm new to both FsUnit and F# in general. But I like this framework so far. I am, however, hoping I could add some custom constraints, and I was wondering how to map that into this framework. I have used NUnit to some extent and used their custom constraints a bunch. I was hoping to do something like

[code]

But need to figure out how to convert a delegate to a constraint to make

[2022-08-31 09:54] CaptnCodr commented on #215
Hello @C0DK ,
it depends what type `somePerson` is.

I assume that `somePerson` is a complex type like a record or class. In case of that `WithName` and/or `HaveName` must support the same type as `somePerson`.

Even so, I recommend assertions as simply as possible e.g.:
[code]

[2022-08-31 14:43] abelbraaksma commented on #214
@CaptnCodr yeah, but since this is throwing, the `throw` helper should just catch whatever comes and report that back. The point here is that `Actual` contains the lambda, but should contain the result of executing that lambda (i.e.: either an exception or not an exception). The lambda itself is not the "actual" value here.

[2022-08-31 19:31] CaptnCodr commented on #215
No, that was just an example on my side for better readability.
You can also write from my example:
[code]

An extra constraint or operator in FsUnit would be too special, btw.
Use single/short functions to have a little toolset in your implementations.

[2022-09-01 05:28] C0DK commented on #215
alright. Consider it closed then :) I might raise another ticket if i have a more complex case. In a c# project where we use NUnit, we do have custom constraints for specific things, like checking whether a StatusCode is "Succesful" (200 <= x < 300) based on NUnits custom constraints https://docs.nunit.org/articles/nunit/extending-nunit/Custom-Constraints.html - and i think that was my offset. but

[2022-09-01 05:28] #215 closed

[2022-09-01 06:17] CaptnCodr commented on #214
@abelbraaksma Yes, I see. I should be similar to the NUnit output, right:
[code]

[2022-09-07 06:23] CaptnCodr commented on #214
Hey @abelbraaksma,
a fix (#216) has been released in v5.0.4 and is already available at Nuget. 🙂

[2022-09-07 06:23] #214 closed

[2022-09-09 12:59] abelbraaksma commented on #214
Great stuff, tx!

[2022-09-19 23:41] abelbraaksma opened #218 "Using 'should throw' or 'should throwWithMessage' never succeeds unless function returns unit"
### Description

This is related to #214, but not the same.

The following test always fails:

[code]

### Repro steps

See above.

### Expected behavior

Test should succeed.

### Actual behavior

Test fails with the following message:

[code]

### Known workarounds

The following fixes the test, but this is not obvious. I should note that in the FsUnit help pages, all examples include `ignore`,

[2022-09-26 02:53] AlexeyRaga opened #219 "Deep equality for C# types"
### Description

In F# code we often have to use data types that are defined in C#.  These types usually don't have equality defined, and therefore only get referential equality.

It would be useful if `FsUnit` would provide a mechanism to still be able to structurally compare these types, similarly to how `FluentAssertions` does in its `BeEquivalentTo` method for C#:

[code]

### Repro steps

1.

[2022-09-26 11:17] CaptnCodr commented on #219
Hello @AlexeyRaga,
FsUnit does support for structural equality. You can use `records` and classes that support comparison.
Here's the implementation: https://github.com/fsprojects/FsUnit/blob/master/src/FsUnit.NUnit/Equality.fs#L24

Another workaround would be to assert every single property:
[code]

[2022-09-26 12:44] CaptnCodr commented on #218
Thank you @abelbraaksma for pointing out. 🙂

@sergey-tihon How do we proceed with this issue?
Maybe taking an additional note as comment at line 92-93 [in the docs](https://github.com/fsprojects/FsUnit/blob/master/docs/index.fsx#L92)?
[code]
Any other suggestions or smth else?

[2022-09-26 14:17] AlexeyRaga commented on #219
@CaptnCodr Yes and no :)

It only supports structural equality via `IStructuralEquatable`, as you pointed. I am, in contrast, talking about supporting structural equality that does not require implementing this interface.

For example, when there is an existing C#/.NET type that does not provide `IStructuralEquatable` (like my `Person` type above), it is still useful to be able to compare it struc

[2022-09-26 14:28] abelbraaksma commented on #218
Isn't it possible to just catch the exception? The return type shouldn't be a problem, right?

[2022-09-27 15:40] sergey-tihon commented on #219
FsUnit is an assertion library that supports DSL on top of popular unit testing frameworks. I think that `equality` should be provided by the type (e.g. `Person`).

If you need equality for C# types (and cannot define them in F# ☺️) you may search for C# source generator library that will generate proper equality for your type ([like this for example](https://github.com/diegofrata/Generator.Equals

[2022-09-27 18:36] sergey-tihon commented on #218
We have 2 options

1. Support functions that return `obj` and merge #220
2. Fail in runtime and ask to refactor `testFunc` to return `unit`

I have no idea why `unit -> obj` was not supported before, it was way before me )

[2022-09-27 20:38] CaptnCodr commented on #218
Hello @abelbraaksma,
a fix (#220) has been released in v5.0.5 and is already published on Nuget. 🙂

`ignore` is not necessary anymore. 😉

[2022-09-28 02:52] AlexeyRaga commented on #219
I couldn't agree more. But in reality there are 3rd party libs that are being used, and classes that are out of our control, and for these scenarious it'd be helpful.

Thanks, I'll double check. Last time I checked (long time ago) it wasn't F# types friendly... So mixed things like C# type inside F# union didn't work...

[2022-09-28 10:19] abelbraaksma commented on #218
Oh wow! @CaptnCodr that’s awesome! I’ll try it out.

[2022-09-28 19:47] abelbraaksma commented on #218
@CaptnCodr, are you sure it is part of 5.0.5? I just double-checked that I have that version, but I get the following:

[code]

The function looked like this, which is then called from the tests:

[code]

It works with `ignore`.

Did I hit a fringe case or is it possible that the fix didn't make it to 5.0.5?

[2022-09-28 20:32] CaptnCodr commented on #218
Yes, definitely! I downloaded the nuget package and decompiled the library and the change is in version 5.0.5.

May you try to capsulate the `actual` part with paranthesis? Like this:
[code]
or did you try that already?

[2022-09-28 22:05] abelbraaksma commented on #218
I'll try to make a minimal repro, I'll get back to this.

[2022-09-28 22:09] abelbraaksma opened #221 "Comparing sequences fails"
### Description

The following fails:

[code]

### Repro steps

See above.

### Expected behavior

Should succeed.

### Actual behavior

Gives test error:

[code]

Which is rather confusing as it doesn't show where the two sequences diverge (spoiler alert: they don't ;) ).

### Known workarounds

A workaround is to not use sequences in tests

I.e.: turning them into eager collections works fine:

[2022-09-29 13:46] CaptnCodr commented on #221
Hi @abelbraaksma,
there is an operator (`equivalent`) to compare lists, arrays and sequences that is not implemented for `xUnit`.
`MsTest` and `NUnit` have collection asserts for that case. xUnit doesn't, that's because it isn't implemented in `FsUnit.Xunit`.
`xUnit` is not idiomatic for that.
Full list of operators: http://fsprojects.github.io/FsUnit/operators.html

[2022-09-30 12:05] abelbraaksma commented on #221
Yes, so basically this doesn’t work. Also, `equivalent` I believe doesn’t test sequence order, right @CaptnCodr? My guess is that this could work by adding a type test in the `equals` code that just pairwise iterates over any given sequence.

[2022-09-30 18:22] CaptnCodr commented on #221
Yes, `equivalent` only tests if the elements are equal, order doesn't matter.
I don't know why e.g. `seq {1;2;3} = seq {1;2;3}` results in `false`; and `seq [1;2;3] = seq [1;2;3]` results in `true`.
That's basically what happens in `equal`: `actual = expected`.
I think that's by design.
I don't know if that's a fix worth to just "fix" the equality of `seq`. What do you think, @sergey-tihon?

[2022-09-30 20:10] sergey-tihon commented on #221
I guess that  it is does not work for sequences because they can be infinite.
It would be weird to get in infinite loop inside `equal`

[2022-09-30 22:20] abelbraaksma commented on #221
Since this is a test framework, if someone requests if A=B, then we should do our best to honour that request. If someone wants to compare infinite sequences this way, they’ll simply get a test time out. And these are small sequences, but that’s really up to the programmer.

[2022-10-07 09:03] CaptnCodr commented on #221
Yes and no,
when there is no sequence built-in sequence equality comparison in F# then it gets harder than you think.
Consider that you can have e.g. nested sequences or sequences with objects those cannot be compared, at this point it gets complicated and we don't want to reinvent the wheel with complicated implementations. Simple implementations or constraints directly from `NUnit`, `xUnit` and

[2022-10-08 15:15] abelbraaksma commented on #221
But `xUnit` has a built-in sequence comparison on `Assert.Equal<_>`:

[code]

Which is results in a very useful message:

[code]

-----
Bit of a rant below ;)

Tbh, F# behaves really weird here:

[code]

And:

[code]

And:

[code]

But:
[code]

But:

[code]

Which to me means that equality in sequences is a mouse trap in F#. I can kinda understand that sequences are not directly comparable (them m

[2022-10-13 12:10] CaptnCodr commented on #221
When you have an empty `seq` it does not succeed anymore:
[code]

I was thinking about to make an extra operator for FsUnit.xUnit that isn't quite far away.
`equalSeq` with just `Assert.Equal<seq<_>>(x, y)` as an implementation could work pretty well, isn't it @sergey-tihon?
e.g.: `seq { 1; 2; 3 } |> should equalSeq (seq { 1; 2; 3 })`

[2022-10-16 16:31] abelbraaksma commented on #221
Hmm, yeah. Related: https://github.com/dotnet/fsharp/issues/14121, which I raised, because there's quite a bit of weird stuff going on when applying functions to two sequences. I.e., `List.map2` and `Seq.map2` do not behave the same.

Which basically means that two sequences are only `Seq.forall2 -> true`  in cases where all items in both sequences until one is exhausted are true. But using `List.

[2022-10-29 11:23] CaptnCodr commented on #221
Hey @abelbraaksma,
`equalSeq` is now available in Release `v5.1.0`.
This has been uploaded to Nuget just now. 🙂

Cheers!

[2022-10-29 11:23] #221 closed

[2022-10-30 19:25] abelbraaksma commented on #221
@CaptnCodr thats awesome, thanks! I’ll be updating my code, I found myself being very careful when testing sequences, this will certainly help (and with [my current work on `TaskSeq`](https://github.com/abelbraaksma/TaskSeq), all I do is comparing sequences 😆).

[2022-10-30 19:34] CaptnCodr commented on #221
Though, it was not for vain. It's reasonable.
You are not the only one who needs/needed this. 😉

[2022-11-01 18:39] abelbraaksma commented on #221
I was counting on that, otherwise why add it, right?

[2022-11-28 10:00] CaptnCodr commented on #218
Hey @abelbraaksma, is here any progress?
Let me know when I can help you.